/*
Theme Name: BrassBalls Theme
Author: Aurocraft
Description: Cusomt theme
Version: 0.1.0
Text Domain: brassballs
*/
.hidden {
    display: none;
}
.footer-soc-icons {
    line-height: 100px;
}
.footer-soc-icons a {
    text-indent: -9999em;
    line-height: 30px;
}

.product-list-page .product-list img {
    height: auto;
}

.is-admin .mnu-popup {
    top: 32px;
}
.wpcf7-form > p {
    margin: 0 !important;
}

.product-page .section-title {
    text-align: center;
    max-width: 1200;
    margin: 1em auto;
}

.product-page .header {
    display: block;
}
.is-admin .product-page .content {
    padding-top: 133px;
}

.popup input[type=email],
.popup input[type=number] {
    width: 100%;
    height: 60px;
    border: 1px solid transparent;
    font-family: 'poppinslight';
    font-size: 16px;
    font-weight: 300;
    line-height: 2.6;
    letter-spacing: 0.9px;
    color: #666666;
    text-transform: uppercase;
    box-sizing: border-box;
    padding: 0 25px;
    border-radius: 1px;
    position: relative;
}
/*
.is-admin . {
    top: 32px;
}*/

body > img[src*="pixel.gif"] {
    font-size: 0px;
    display: block;
    line-height: 0px;
}

@media screen and (max-width: 1200px) {
    .product-page .section-title {
        max-width: none;
    }
}
@media screen and (max-width: 970px) {
    .is-admin .mnu-popup {
        top: 92px;
    }

}

@media screen and (max-width: 932px) {
    .popup input[type=email],
    .popup input[type=number] {
        height: 44px;
    }
}

@media screen and (max-width: 782px) {
    .is-admin .mnu-popup {
        top: 106px;
    }
}
