.footer {
  height: 100px;
  background-color: #2b2d2f;
  overflow: hidden;
}

.footer-tabs {
  list-style-type: none;
  line-height: 100px;
  padding: 0;
  margin: 0;
  float: left;
}

.footer-tabs li {
  font-family: 'poppinsregular';
  font-size: 16px;
  letter-spacing: 0.9px;
  display: inline-block;
  margin-left: 55px;
}

.footer-tabs li a {
  color: #fff;
}

.footer-soc-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
  line-height: 100px;
  margin-right: 30px;
}

.footer-soc-icons li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  vertical-align: middle;
}

.footer-soc-icons a {
  width: 30px;
  height: 30px;
  display: block;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.footer-soc-icons a.footer-soc-icons__fb {
  background-image: url(../img/icons/fb-footer-white.svg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-soc-icons a.footer-soc-icons__twit {
  background-image: url(../img/icons/tw.svg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-soc-icons a.footer-soc-icons__insta {
  background-image: url(../img/icons/inst.svg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 932px) {
  .footer {
    height: auto;
    text-align: center;
  }

  .footer-tabs {
    line-height: 45px;
    float: none;
    margin-top: 10px;
  }

  .footer-tabs li {
    display: block;
    margin-left: 0;
  }

  .footer-soc-icons {
    float: none;
    line-height: 90px;
    margin-right: 0;
  }

  .footer-soc-icons li:last-child {
    margin-right: 0;
  }

}

@media screen and (min-width: 767px){
  .footer-soc-icons a.footer-soc-icons__fb:hover {
    background-image: url(../img/icons/fb-footer-y.svg);
  }

  .footer-soc-icons a.footer-soc-icons__twit:hover {
    background-image: url(../img/icons/tw-y.svg);
  }

  .footer-soc-icons a.footer-soc-icons__insta:hover {
    background-image: url(../img/icons/inst-y.svg);
  }

  .footer-soc-icons a.footer-soc-icons__fb:after {
    content: '';
    background-image: url(../img/icons/fb-footer-y.svg);
  }

  .footer-soc-icons a.footer-soc-icons__twit:after {
    content: '';
    background-image: url(../img/icons/tw-y.svg);
  }

  .footer-soc-icons a.footer-soc-icons__insta:after {
    content: '';
    background-image: url(../img/icons/inst-y.svg);
  }
}