html {
  font-family: sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0;

}

body a {
  text-decoration: none;
  outline: none;
}

.wrapper {
  left: 0;
  right: 0;
  position: relative;
  -webkit-transition: right 0.4s ease 0.1s, left 0.4s ease 0.1s;
  -moz-transition: right 0.4s ease 0.1s, left 0.4s ease 0.1s;
  -o-transition: right 0.4s ease 0.1s, left 0.4s ease 0.1s;
  transition: right 0.4s ease 0.1s, left 0.4s ease 0.1s;
}

.content {
  position: relative;
}

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 100500;
}

#page-preloader .spinner {
  width: 405px;
  height: 270px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../gif/logo-fill-2.gif);
  background-repeat: no-repeat;
  background-position:  center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: -135px 0 0 -202px;
}

.section-title {
  font-family: 'poppinsmedium';
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2.2px;
  color: #1f2123;
  text-transform: uppercase;
  margin: 0;
  line-height: 90px;
  text-align: center;
}
