.header {
  background-color: #1F2123;
  height: 101px;
  position: fixed;
  width: 100%;
  z-index: 8000;
}

.mnu-tabs {
  list-style-type: none;
  line-height: 100px;
  padding: 0;
  margin: 0;
  float: left;
}

.mnu-tabs li {
  display: inline;
  margin-left: 45px;

}

.mnu-tabs li a {
  color: #fff;
  font-family: 'poppinsregular';
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.98px;
  position: relative;
  padding: 0 3px 0 4px;

}



.mnu-tabs li a:after {
  content:'';
  display: block;
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #e3aa14;
  -webkit-transition: all 0.4s ease 0.1s;
  -moz-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s;
}

.mnu-tabs li a:hover:after, .mnu-tabs li a.active:after, .mnu-tabs li a.active:after {
  width: 100%;
}

.mnu-tabs-mob {
  display: none;
  list-style-type: none;
  line-height: 60px;
  padding: 0;
  margin: 0;
  float: left;
}

.mnu-tabs-mob li {
  display: inline;
  margin-left: 20px;

}

.mnu-logo {
  position: absolute;
  left: 50%;
  margin-left: -77px;
  top: 50%;
  margin-top: -42px;
}

.mnu-logo img {
  width: 154px;
}

.mnu-icons {
  list-style-type: none;
  line-height: 100px;
  padding: 0 45px 0 0;
  margin: 0;
  float: right;
}

.mnu-icons li {
  display: inline-block;
  margin-left: 35px;
  height: 100%;
  width: 45px;
  text-align: center;
  position: relative;
  //-webkit-transition: 0.3s linear;
  //-moz-transition: 0.3s linear;
  //-o-transition: 0.3s linear;
  //transition: 0.3s linear;
}

.mnu-icons li.active {
  background-color: #ffcb41;
}

.mnu-icons li a {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  background-size: 100%;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.mnu-icons__icon-search {
  background-image: url(../img/icons/search.svg);
}

.mnu-icons__icon-cart {
  background-image: url(../img/icons/cart-icon.svg);
}

.mnu-icons__icon-share {
  background-image: url(../img/icons/share.svg);
}

.mnu-icons__share-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffcb41;
  width: 100%;
  position: absolute;
  top: 95%;
  left: 0;
  display: none;
  height: 323px;
}

.mnu-icons__share-list li {
  height: auto;
  margin-left: 0;
  display: block;
  margin-bottom: 12px;
}

.mnu-icons__share-list li a {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto;
}

.mnu-icons__share-fb {
  background-image: url(../img/icons/fb-m.svg);
}
.mnu-icons__share-tw {
  background-image: url(../img/icons/tw-m.svg);
}
.mnu-icons__share-pint {
  background-image: url(../img/icons/p-m.svg);
}
.mnu-icons__share-goo {
  background-image: url(../img/icons/g+-m.svg);
}
.mnu-icons__share-red {
  background-image: url(../img/icons/red-m.svg);
}
.mnu-icons__share-mail {
  background-image: url(../img/icons/mail-c.svg);
}
.mnu-icons__share-more {
  background-image: url(../img/icons/more-c.svg);
}


.mnu-popup {
  width: 310px;
  background-color: #fff;
  position: fixed;
  left: -310px;
  top: 0;
  z-index: 1;
  text-align: center;
  -webkit-transition: left 0.4s ease 0.1s;
  -moz-transition: left 0.4s ease 0.1s;
  -o-transition: left 0.4s ease 0.1s;
  transition: left 0.4s ease 0.1s;
}

.mnu-popup__head {
  width: 100%;
  height: 100px;
  background-color: #e3aa14;
  text-align: center;
  line-height: 100px;
}

.mnu-popup__head-mob {
  display: none;
  height: 44px;
  background-color: #D8D8D8;
  text-align: left;
  padding: 0 25px;
}

.mnu-popup__head-mob span {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'poppinsregular';
  line-height: 44px;
  letter-spacing: 0.87px;
  position: relative;
  padding: 0 3px 0 4px;
}

.mnu-popup__head-mob span:after {
  content:'';
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #e3aa14;
  -webkit-transition: all 0.4s ease 0.1s;
  -moz-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s;
}

.mnu-popup__head span {
  font-family: 'poppinsregular';
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
}

.mnu-popup > ul {
  list-style-type: none;
  margin: 0;
  padding: 40px 39px 0;
  height: calc(100vh - 100px);
}

.mnu-popup > ul .ps-scrollbar-y-rail {
  top: 100px !important;
}

.mnu-popup .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: transparent;
}

.mnu-popup .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y, .mnu-popup .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #e3aa14;
}

.mnu-popup .ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: transparent;
}
.mnu-popup .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #e3aa14;
}

.mnu-popup > ul > li {
  height: 192px;
  margin-bottom: 30px;
}

.mnu-popup > ul li a {
  display: block;
}

.mnu-popup h6 {
  font-family: 'poppinsregular';
  font-size: 18px;
  letter-spacing: 1px;
  color: #231f20;
  margin: 20px 0 0;
  position: relative;
  display: inline-block;
  padding: 0 19px;
  text-transform: uppercase;
}

.mnu-popup h6:before, .mnu-popup h6:after {
  content:'';
  display: block;
  position: absolute;
  width: 10px;
  height: 3px;
  background: #e3aa14;
  top: 50%;
  margin-top: -1.5px;
}

.mnu-popup h6:before {
  left: 0;
}

.mnu-popup h6:after {
  right: 0;
}

.mnu-popup ul span {
  display: inline-block;
  font-family: 'poppinslight';
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.7px;
  color: #231f20;
  margin-top: 1px;
}

.mnu-popup .footer {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header {
    height: 70px;
  }

  .mnu-tabs {
    line-height: 77px;
  }

  .mnu-tabs li a {
    font-size: 14px;
  }

  .mnu-logo {
    margin-left: -55px;
    margin-top: -31px;
  }

  .mnu-logo img {
    width: 110px;
  }

  .mnu-icons {
    line-height: 84px;
  }

  .mnu-popup__head {
    height: 70px;
    line-height: 70px;
  }
}

@media screen and (max-width: 970px) {
  .header {
    height: 60px;
  }

  .mnu-tabs {
    display: none;
  }

  .mnu-tabs-mob {
    display: block;
  }

  .mnu-tabs-mob a {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .mnu-tabs-mob__burg {
    background-image: url(../img/mnu-burg.svg);
  }

  .mnu-tabs-mob__burg.active {
    background-image: url(../img/mnu-burg-close.svg);
  }

  .mnu-tabs-mob__search {
    background-image: url(../img/icons/search-icon.png);
  }

  .mnu-logo {
    top: 50%;
    margin-left: -42px;
    margin-top: - 23px;
  }
  .mnu-logo img {
    width: 84px;
  }

  .mnu-icons {
    line-height: 60px;
    padding: 0;
  }

  .mnu-icons li {
    margin-left: 0;
    margin-right: 16px;
  }

  .mnu-icons > li:first-child {
    display: none;
  }

  .mnu-icons > li:nth-child(2) {
    width: auto;
  }

  .mnu-icons li img {
    width: 17px;
  }

  .mnu-popup {
    width: 100%;
    left: 0;
    top: 60px;
    display: none;
  }

  .mnu-popup__head {
    display: none;
  }

  .mnu-popup__head-mob {
    display: block;
  }

  .mnu-popup ul li a {
    text-align: center;
  }

  .mnu-popup h6 {
    display: block;
  }

  .mnu-popup h6:before {
    left: 30%;
  }

  .mnu-popup h6:after {
    right: 30%;
  }

  .mnu-popup ul span {
    display: block;
  }

  .mnu-popup .footer {
    display: block;
  }
}

  @media screen and (max-width: 520px) {
    .mnu-popup h6:before {
      left: 20%;
    }

    .mnu-popup h6:after {
      right: 20%;
    }
  }

  @media screen and (max-width: 348px) {
    .mnu-popup h6:before {
      left: 10%;
    }

    .mnu-popup h6:after {
      right: 10%;
    }
  }

@media screen and (min-width: 767px) {

  .mnu-icons__icon-search:hover {
    background-image: url(../img/icons/search-y.svg);
  }

  .mnu-icons__icon-cart:hover {
    background-image: url(../img/icons/cart-y.svg);
  }

  .mnu-icons__icon-share:hover {
    background-image: url(../img/icons/share-y.svg);
  }

  .active .mnu-icons__icon-share:hover {
    background-image: url(../img/icons/share.svg);
  }

  .mnu-icons__icon-search:after {
    content:'';
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center;
    background-image: url(../img/icons/search-y.svg);
    opacity: 0;
  }

  .mnu-icons__icon-cart:after {
    content:'';
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center;
    background-image: url(../img/icons/cart-y.svg);
    opacity: 0;
  }

  .mnu-icons__icon-share:after {
    content:'';
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center;
    background-image: url(../img/icons/share-y.svg);
    opacity: 0;
  }
}




