
.main-page {

  .header {
    background-color: transparent;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
  }

  .content > div {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  
  .main-story__dark-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .content > div img {
    width: 100%;
    display: block;
  }

  .content > div video, .content > div iframe {
    width: 100%;
    display: block;
  }

  .parallax-mirror {
    min-height: 100vh;
  }

  .content__bg-mob {
    display: none !important;
  }

  .content__inner {
    position: absolute;
    top: 330px;
    left: 9%;
    width: 800px;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
  }

  .content__inner.visible {
    transform: translateY(-160px);
  }

  .content__inner * {
    opacity: 0;

  }

  .content__inner.visible * {
    opacity: 1;
  }

  .content__inner h2 {
    font-family: 'poppinsmedium';
      font-size: 60px;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: 3.3px;
      color: #ffffff;
      margin: 0;
    margin-bottom: 55px;
    text-transform: uppercase;
    -webkit-transition: opacity 0.6s ease 0.1s;
    -moz-transition: opacity 0.6s ease 0.1s;
    -o-transition: opacity 0.6s ease 0.1s;
    transition: opacity 0.6s ease 0.1s;
  }

  .main-sale .content__inner h2 {
    width: 30%;
  }

  .main-all-bikes .content__inner h2 {
    width: 55%;
  }

  .main-parts .content__inner h2 {

  }

  .content-button {
    width: 260px;
    height: 60px;
    background-color: #e3aa14;
    font-family: 'poppinslight';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.1px;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    vertical-align: top;
    -webkit-transition: opacity 0.6s ease 0.4s, all 0.3s ease;
    -moz-transition: opacity 0.6s ease 0.4s, all 0.3s ease;
    -o-transition: opacity 0.6s ease 0.4s, all 0.3s ease;
    transition: opacity 0.6s ease 0.4s, all 0.3s ease;
  }

  .main-story__read {
    font-family: 'poppinsregular';
    font-size: 30px;
    line-height: 61px;
    letter-spacing: 1.6px;
    color: #ffffff;
    margin-left: 65px;
    display: inline-block;
    height: 60px;
    vertical-align: top;
    background-image: url(../img/arrow-white1.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 30px;
    -webkit-transition: opacity 0.6s ease 0.7s, all 0.3s ease;
    -moz-transition: opacity 0.6s ease 0.7s, all 0.3s ease;
    -o-transition: opacity 0.6s ease 0.7s, all 0.3s ease;
    transition: opacity 0.6s ease 0.7s, all 0.3s ease;
  }

  .main-instagram h2 {
    margin: 0;
    text-align: center;
  }

  .main-instagram h2 a {
    font-family: 'poppinslight';
    font-size: 30px;
    font-weight: 300;
    line-height: 2.6;
    letter-spacing: 1.6px;
    color: #666666;
  }

  .main-instagram ul {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  .main-instagram li {
    width: 25%;
    display: inline-block;
    position: relative;
  }

  .main-instagram__dark-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }

  .main-instagram li img {
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .main-instagram .more-insta {
    width: 260px;
    height: 60px;
    background-color: #e3aa14;
    font-family: 'poppinslight';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.1px;
    color: #ffffff;
    line-height: 65px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    margin: 55px auto 50px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .main-info-block {

    background-color: #1f2123;
    position: relative;
  }

  .main-info-block .main-info-block__inner {
    padding: 45px 0 50px 165px;
    width: 55%;
  }

  .main-info-block h4 {
    font-family: 'poppinsmedium';
    font-size: 25px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1.4px;
    color: #ffffff;
    text-transform: uppercase;
  }

  .main-info-block p {
    font-family: 'poppinslight';
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.87px;
    color: #ffffff;
  }

  .on-top {
    font-family: 'poppinsregular';
    font-size: 15px;
    line-height: 2.1;
    letter-spacing: 0.8px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 30px;
    background-image: url(../img/arrow-white2.png);
    background-repeat: no-repeat;
    background-position: right 41%;
    padding-right: 22px;
    margin-right: 33px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 970px) {
    .content {
      padding-top: 60px;
    }

    .header {
      background-color: #1F2123 !important;
    }
  }

  @media screen and (max-width: 932px) {
    .content__inner {
      top: 215px;
      left: 9%;
      width: 91%;
    }

    .content__inner h2 {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 1.1px;
      margin: 0;
      margin-bottom: 35px;
    }

    .content-button {
      width: 202px;
      height: 44px;
      font-size: 16px;
      letter-spacing: 0.87px;
      line-height: 44px;
      margin-bottom: 15px;
    }

    .main-story__read {
      font-size: 16px;
      line-height: 45px;
      letter-spacing: 0.87px;
      margin-left: 0;
      height: 44px;
    }

    .main-instagram h2 a {
      font-size: 16px;
      letter-spacing: 0.87px;
    }

    .main-instagram li {
      width: 50%;
    }

    .main-instagram li:nth-child(n+5) {
      display: none;
    }

    .main-instagram .more-insta {
      width: 202px;
      height: 44px;
      font-size: 16px;
      letter-spacing: 0.87px;
      line-height: 44px;
      margin: 30px auto 60px;
    }

    .main-info-block {
      height: auto;
    }

    .main-info-block .main-info-block__inner {
      padding: 60px 20px 60px 20px;
      width: 100%;
      box-sizing: border-box;
    }

    .main-info-block h4 {
      font-size: 18px;
      letter-spacing: 0.98px;
    }

    .main-info-block p {
      font-size: 14px;
      letter-spacing: 0.75px;
    }

    .on-top {
      display: none;
    }
  }

  @media screen and (min-width: 767px){
    .content-button:hover, .more-insta:hover {
      background-color: #ffcb41;
    }

    .main-story__read:hover, .on-top:hover {
      color: #ffcb41;

    }

    .main-story__read:hover {
      background-image: url(../img/icons/arrow-double-right-gold.svg);
    }

    .on-top:hover {
      background-image: url(../img/icons/arrow-double-up-gold.svg);
    }

    .main-instagram li:hover .main-instagram__dark-bg{
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  @media screen and (max-width: 767px){
    .content__inner {
      top: 55px;
    }

    .content__inner.visible {
      transform: translateY(0);
    }

    .content__inner * {
      opacity: 1;

    }
  }

  @media screen and (max-width: 640px) {
    .content__bg {
      display: none !important;
    }

    .content__bg-mob {
      display: block !important;
    }
  }
}