.popup-bg {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9998;
  background-color: rgba(42, 42, 42, 0.9);
}

.popup {
  width: 90%;
  height: 100vh;
  background-color: #f0f1f3;
  position: fixed;
  left: 50%;
  margin-left: -45%;
  top: 0;
  z-index: 9999;
  box-sizing: border-box;
  padding: 115px 9% 125px;
  text-align: center;
  overflow: scroll;
}

.close-popup {
  position: absolute;
  width: 42px;
  height: 41px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  background-image: url(../img/close-popup-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.popup__title {
  text-align: left;
  margin-bottom: 50px;
}

.popup__title h2 {
  font-family: 'poppinsregular';
  font-size: 25px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 1.4px;
  color: #1f2123;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.popup__title h4 {
  font-family: 'poppinslight';
  font-size: 18px;
  font-weight: 300;
  line-height: 2.3;
  letter-spacing: 1px;
  color: #1f2123;
  margin: 0;
}

.popup__input-block {
  position: relative;
  margin-bottom: 30px;
}

.wpcf7-form-control-wrap {
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}

.popup input[type=text] {
  width: 100%;
  height: 60px;
  border: 1px solid transparent;
  font-family: 'poppinslight';
  font-size: 16px;
  font-weight: 300;
  line-height: 2.6;
  letter-spacing: 0.9px;
  color: #666666;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0 25px;
  border-radius: 1px;
  position: relative;
}

.popup input[type=text] span[role=alert] {
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  font-family: 'poppinslight';
  font-size: 12px;
  letter-spacing: 0.7px;
  color: #ff6a6a;
}

.popup .popup__input-block.alert input[type=text], .popup input.wpcf7-not-valid {
  border: solid 1px #ff6a6a;
}

span.wpcf7-not-valid-tip {
  display: block;
    position: absolute;
    bottom: -20px;
    left: 0;
  right: 0;
  text-align: left;
    font-family: 'poppinslight';
    font-size: 12px;
    letter-spacing: 0.7px;
    color: #ff6a6a;
}

span.wpcf7-not-valid-tip:before {
  content: '';
  display: block;
  position: absolute;
  right: -30px;
  top: -38px;
  //margin-top: -8px;
  width: 15px;
  height: 15px;
  background-image: url(../img/close-popup-icon-red.svg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

//.popup .popup__input-block.alert:before {
//  content: '';
//  display: block;
//  position: absolute;
//  right: -30px;
//  top: 50%;
//  margin-top: -8px;
//  width: 15px;
//  height: 15px;
//  background-image: url(../img/close-popup-icon-red.svg);
//  -webkit-background-size: cover;
//  background-size: cover;
//  background-repeat: no-repeat;
//  background-position: center;
//}
//
//.popup .popup__input-block.alert:after {
//  content: 'not a valid e-mail';
//  display: block;
//  position: absolute;
//  bottom: -20px;
//  left: 0;
//  font-family: 'poppinslight';
//  font-size: 12px;
//  letter-spacing: 0.7px;
//  color: #ff6a6a;
//}

.popup input[type=submit] {
  width: 260px;
  height: 60px;
  background-color: #e3aa14;
  font-family: 'poppinslight';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.1px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  border-radius: 1px;
  cursor: pointer;
}

.popup-thank {
  width: 90%;
  height: 60vh;
  background-color: #f0f1f3;
  position: fixed;
  left: 50%;
  margin-left: -45%;
  top: 50%;
  margin-top: -30vh;
  z-index: 9999;
  box-sizing: border-box;
  padding: 100px 9% 125px;
  text-align: center;
}

.popup-thank__soc-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.popup-thank__soc-list li {
  display: inline-block;
  margin-right: 10px;
}

.popup-thank__soc-list li a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.popup-thank__soc-fb {
  background-image: url(../img/icons/fb-black.svg);
}

.popup-thank__soc-tw {
  background-image: url(../img/icons/tw-black.svg);
}

.popup-thank__soc-insta {
  background-image: url(../img/icons/inst-black.svg);
}

@media screen and (max-width: 932px) {
  .popup {
    padding: 55px 20px;
    //height: 520px;
    //top: 0;
    //margin-top: -260px;
  }

  .close-popup {
    width: 15px;
    height: 15px;
    background-image: url(../img/close-popup-icon-mob.svg);
  }

  .popup__title {
    margin-bottom: 20px;
  }

  .popup__title h2 {
    font-size: 18px;
    letter-spacing: 0.98px;
  }

  .popup__title h4 {
    font-size: 14px;
    letter-spacing: 0.76px;
  }

  .popup input[type=text] {
    height: 44px;
  }

  .popup input[type=submit] {
    height: 44px;
    width: 100%;
    max-width: 260px;
  }

  //.popup .popup__input-block.alert:before {
  //  right: 15px;
  //}

  .popup input.wpcf7-not-valid:before {
    right: 15px;
  }
}