.product-page {

  .content {
    padding-top: 101px;
  }

  .product-title {

    text-align: center;
    position: relative;
  }

  .product-title h1 {
    font-family: 'poppinsmedium';
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2.2px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    line-height: 90px;
    background-color: #e3aa14;
  }

  .product-title h2 {
    font-family: 'poppinsmedium';
    font-size: 60px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 3.3px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 270px;
    left: 165px;
    width: 40%;
    text-align: left;
  }

  .project-carousel-mob {
    display: none;
  }

  .carousel-thumbs-mob {
    padding-top: 20px;
  }

  .img-thumb {
    margin: 0 5px;
  }

  .carousel-track {
    display: block;
    width: 100%;
    height: 90vh;
    min-height: 44vw;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;

    .prev-first, .next-last {
      display: inline-block;
      position: absolute;
      width: auto;
      height: 100%;
      top: 0;
      cursor: pointer;
      &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: black;
        opacity: .8;
        -webkit-transition: .125s linear;
        transition: .125s linear;
      }

      img {
        display: block;
        height: 100%;
        width: auto;
      }
    }

    .prev-first {
      left: 0;
    }

    .next-last {
      right: 0;
    }

    .carousel-slide {
      display: inline-block;
      position: absolute;
      width: auto;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-transform: translateZ(0);
      -webkit-transition: left .7s ease;
      -moz-transform: translateZ(0);
      -moz-transition: left .7s ease;
      -o-transform: translateZ(0);
      -o-transition: left .7s ease;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transition: left .7s ease;
      transition: left .7s ease;
      -webkit-user-select: none;

      &:after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: black;
        opacity: 0;
        -webkit-transition: .125s linear;
        transition: .125s linear;
      }

      &.first {
        //-webkit-transform: translateZ(0) !important;
        //transform: translateZ(0) !important;
        //left: 0 !important;
      }

      &.active {
        z-index: 99 !important;
      }

      &.next {
        cursor: pointer;

        &:after {
          opacity: .8;
        }

        &:hover:after {
          opacity: .5;
        }
      }

      img {
        display: block;
        height: 100%;
        width: auto;
      }

      &.prev {
        cursor: pointer;
        -webkit-transition: left .4s ease;
        transition: left .4s ease;

        z-index: 90 !important;
        &:after {
          opacity: .8;
        }

        &:hover:after {
          opacity: .5;
        }
      }
    }
  }

  .carousel-thumbs {
    width: 860px;
    margin: 0 auto 70px;

    .carousel-slide {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      height: 60px;
      opacity: .6;
      -webkit-transition: .3s linear;
      transition: .3s linear;
      cursor: pointer;

      &:hover,
      &.active {
        opacity: 1;
      }

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  .product-title__img {
    height: 70vh;
    background: transparent;
  }

  .product-title img {
    display: block;
    width: 100%;
  }

  .product-title__back {
    font-family: 'poppinsregular';
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 0.8px;
    color: #ffffff;
    position: absolute;
    top: 35px;
    left: 80px;
    background-image: url(../img/arrows.png);
    background-repeat: no-repeat;
    background-position: left 43%;
    padding-left: 25px;
    //-webkit-transition: all 0.6s ease;
    //-moz-transition: all 0.6s ease;
    //-o-transition: all 0.6s ease;
    //transition: all 0.6s ease;
  }

  .product-content {
    padding: 40px 14% 0;
  }

  .product-content__info {
    width: 100%;
    margin-top: 160px;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
    margin-bottom: -60px;
  }

  .product-content__info.visible {
    transform: translateY(-160px);
  }

  .product-content__info * {
    opacity: 0;
  }

  .product-content__info.visible * {
    opacity: 1;
  }

  .product-content__info h4 {
    font-family: 'poppinsmedium';
    font-size: 25px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 1.4px;
    color: #1f2123;
    -webkit-transition: all 0.6s ease 0.1s;
    -moz-transition: all 0.6s ease 0.1s;
    -o-transition: all 0.6s ease 0.1s;
    transition: all 0.6s ease 0.1s;
  }

  .product-content__info p {
    font-family: 'poppinslight';
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.87px;
    color: #1f2123;
    -webkit-transition: all 0.6s ease 0.4s;
    -moz-transition: all 0.6s ease 0.4s;
    -o-transition: all 0.6s ease 0.4s;
    transition: all 0.6s ease 0.4s;
  }

  .product-content__info .block-text {
    text-align: left !important;
  }

  .product-content__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-type: none;
    margin-top: 10px;
  }

  .product-content__list li {
    margin-top: 130px;
    text-align: center;
  }

  .product-content__item {
    margin-top: 160px;
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
    position: relative;
    z-index: 5000;
  }

  .product-content__item:last-child {
    margin-bottom: -130px;
  }

  .product-content__item.visible {
    transform: translateY(-160px);
  }

  .product-content__item * {
    opacity: 0;
  }

  .product-content__item.visible * {
    opacity: 1;
  }

  .product-content__item-imgs {
    font-size: 0;
  }

  .product-content__item-img-big {
    width: 100%;
    margin-bottom: 30px;
    -webkit-transition: all 0.6s ease 0.1s;
    -moz-transition: all 0.6s ease 0.1s;
    -o-transition: all 0.6s ease 0.1s;
    transition: all 0.6s ease 0.1s;
  }

  .product-content__item-img-small {
    width: 49%;
    -webkit-transition: all 0.6s ease 0.7s;
    -moz-transition: all 0.6s ease 0.7s;
    -o-transition: all 0.6s ease 0.7s;
    transition: all 0.6s ease 0.7s;
  }

  .product-content__item-img-small:nth-child(2) {
    margin-right: 2%;
    -webkit-transition: all 0.6s ease 0.4s;
    -moz-transition: all 0.6s ease 0.4s;
    -o-transition: all 0.6s ease 0.4s;
    transition: all 0.6s ease 0.4s;
  }

  .product-content__item-btns {
    text-align: center;
    position: relative;
    margin-top: 60px;
    display: inline-block;
    width: 640px;
  }

  .product-content__item-btns a {
    vertical-align: top;
    margin-right: 3%;
  }

  .product-content__share-btn-block{
    position: absolute;
    top: 0;
    left: calc(-60px + 4%);
  }

  .product-content__share-btn {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #1f2123;
    background-image: url(../img/icons/share-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: opacity 0.6s ease 1s, background-color 0.3s ease;
    -moz-transition: opacity 0.6s ease 1s, background-color 0.3s ease;
    -o-transition: opacity 0.6s ease 1s, background-color 0.3s ease;
    transition: opacity 0.6s ease 1s, background-color 0.3s ease;
  }

  .product-content__share-btn.active {
    background-color: #3e576f;
  }

  .product-content__share-list {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    background-color: #f0f1f3;
    width: 0;
    -webkit-transition: width 0.3s ease 0.1s;
    -moz-transition: width 0.3s ease 0.1s;
    -o-transition: width 0.3s ease 0.1s;
    transition: width 0.3s ease 0.1s;
    z-index: 1500;
  }

  .product-content__share-list li {
    display: inline;
    margin-top: 0;
    margin-right: 10px;
    line-height: 60px;
  }

  .product-content__share-list li:last-child {
    margin-right: 0;
  }

  .product-content__share-list li a {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
  }

  .product-content__share-fb {
    background-image: url(../img/icons/fb-c.svg);
  }
  .product-content__share-tw {
    background-image: url(../img/icons/tw-c.svg);
  }
  .product-content__share-pint {
    background-image: url(../img/icons/p-c.svg);
  }
  .product-content__share-goo {
    background-image: url(../img/icons/g+-c.svg);
  }
  .product-content__share-red {
    background-image: url(../img/icons/red-c.svg);
  }
  .product-content__share-mail {
    background-image: url(../img/icons/mail-c.svg);
  }
  .product-content__share-more {
    background-image: url(../img/icons/more-c.svg);
  }

  .product-content__item.visible .product-content__share-list li a {
    opacity: 0;
  }

  .product-content__buy-btn {
    display: inline-block;
    width: 260px;
    height: 60px;
    background-color: #e3aa14;
    font-family: 'poppinslight';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.1px;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    -webkit-transition: all 0.6s ease 1.3s, all 0.3s ease;
    -moz-transition: all 0.6s ease 1.3s, all 0.3s ease;
    -o-transition: all 0.6s ease 1.3s, all 0.3s ease;
    transition: all 0.6s ease 1.3s, all 0.3s ease;
  }

  .product-content__configure-btn {
    display: inline-block;
    width: 260px;
    height: 60px;
    background-color: #1f2123;
    font-family: 'poppinslight';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.1px;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    margin-right: 0 !important;
    -webkit-transition: all 0.6s ease 1.6s, all 0.3s ease;
    -moz-transition: all 0.6s ease 1.6s, all 0.3s ease;
    -o-transition: all 0.6s ease 1.6s, all 0.3s ease;
    transition: all 0.6s ease 1.6s, all 0.3s ease;
  }

  .product-slider {

  }

  .product-slider .slick-slide {
    height: 400px;
    position: relative;
    overflow: hidden;
  }

  .product-slider .product-slider__slide-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: transform 2s ease;
    -moz-transition: transform 2s ease;
    -o-transition: transform 2s ease;
    transition: transform 2s ease;
  }

  .product-slider .slick-slide:hover .product-slider__slide-content {
    transform: scale(1.5);
    -webkit-transition: transform 10s ease;
    -moz-transition: transform 10s ease;
    -o-transition: transform 10s ease;
    transition: transform 10s ease;
  }

  .product-slider .product-slider__dark-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    -webkit-transition: background-color 2s ease;
    -moz-transition: background-color 2s ease;
    -o-transition: background-color 2s ease;
    transition: background-color 2s ease;
  }

  .product-slider .slick-slide:hover .product-slider__dark-bg {
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
  }

  .product-slider .slick-slide .product-slider__slide-title {
    //position: absolute;
    top: 150px;
    left: 80px;
    z-index: 1;
  }

  .product-slider .slick-slide .product-slider__slide-title h2 {
    font-family: 'poppinsmedium';
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    margin: 0;
    color: #ffffff;
    position: absolute;
    top: 160px;
    left: 80px;
    z-index: 1;
    -webkit-transition: top 0.6s ease;
    -moz-transition: top 0.6s ease;
    -o-transition: top 0.6s ease;
    transition: top 0.6s ease;
    pointer-events: none;
  }

  .product-slider .slick-slide:not(.slick-current) .product-slider__slide-title h2 {
    left: 40px;
    right: 60px;
  }



  .product-slider .slick-slide .product-slider__slide-title span {
    font-family: 'poppinsmedium';
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1.4px;
    color: #fff;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -o-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    position: absolute;
    z-index: 1;
    top: 160px;
    left: 80px;
    pointer-events: none;
  }

  .product-slider .slick-slide:not(.slick-current) .product-slider__slide-title span {
    left: 40px;
    right: 60px;
  }



  .product-slider button {
    width: 59px;
    height: 60px;
    background-color: #ffffff;
    font-size: 0;
    border: none;
    position: absolute;
    z-index: 1;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .product-slider .slick-prev {
    left: 0;
    top: 50%;
    margin-top: -30px;
    background-image: url(../img/arrow-black-left.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 30%;
    background-size: 30%;
  }

  .product-slider .slick-next {
    right: 0;
    top: 50%;
    margin-top: -30px;
    background-image: url(../img/arrow-black-right.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 30%;
    background-size: 30%;
  }

  .on-top {
    font-family: 'poppinsregular';
    font-size: 15px;
    line-height: 2.1;
    letter-spacing: 0.8px;
    color: #1f2123;
    display: block;
    text-align: right;
    margin-bottom: 30px;
    margin-right: 15px;
    cursor: pointer;
    background-image: url(../img/arrow-black.png);
    background-repeat: no-repeat;
    background-position: right 40%;
    padding-right: 22px;
  }


  @media screen and (max-width: 991px) {
    .project-carousel {
      display: none;
    }

    .project-carousel-mob {
      display: block;
    }

    .carousel-track {
      height: auto;

      .carousel-slide {
        left: 0 !important;
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }

        &.active,
        &.first {
          //left: 0 !important;
        }

        &.prev {
          left: -50% !important;
        }
      }
    }

    .prev-first {
      display: none !important;
    }

    .next-last {
      display: none !important;
    }

    .carousel-thumbs {
      width: 100%;
      box-sizing: border-box;
      padding: 0 40px;
      margin-bottom: 85px;
    }
  }

  @media screen and (max-width: 1200px) {
    .content {
      padding-top: 70px;
    }
  }

  @media screen and (max-width: 970px) {

    .content {
      padding-top: 60px;
    }
  }

  @media screen and (max-width: 932px) {
    .product-title__back {
      display: none;
    }

    .product-title h1 {
      padding: 0;
      font-size: 30px;
      letter-spacing: 1.63px;
      line-height: 47px;
    }

    .product-title h2 {
      font-size: 20px;
      letter-spacing: 1.1px;
      top: 80px;
      left: 20px;
      width: 57%;
    }

    .product-content {
      padding: 25px 20px 55px;
    }

    .product-content__info {
      width: 100%;
    }

    .product-content__info h4 {
      font-size: 18px;
      letter-spacing: 0.97px;
      margin: 0 0 8px;
    }

    .product-content__info p {
      font-size: 14px;
      letter-spacing: 0.7px;
      margin: 0;
    }

    .product-content__list li {
      margin-top: 55px;
    }

    .product-content__item-btns {
      width: 100%;
      display: block;
      margin-top: 30px;
      padding-bottom: 45px;
    }

    .product-content__item-btns a {
      margin: 0 auto 10px;

    }

    .product-content__buy-btn {
      width: 202px;
      height: 44px;
      font-size: 16px;
      line-height: 44px;
      letter-spacing: 0.87px;
      display: block;
    }

    .product-content__configure-btn {
      width: 202px;
      height: 44px;
      font-size: 16px;
      line-height: 44px;
      letter-spacing: 0.87px;
      display: block;
      margin-right: auto !important;
    }

    .product-content__share-btn-block {
      left: 50%;
      margin-left: -101px !important;
      top: 107px;
    }

    .product-content__share-btn {
      width: 202px;
      height: 44px;
      background-color: #5E6062;
      margin-bottom: 0 !important;
    }

    .product-content__share-list {
      top: 100%;
      left: 0;
      height: auto;
      width: 100%;
      display: none;
    }

    .product-title__img {
      height: 35vh;
    }

    .on-top {
      display: none;
    }

  }

  @media screen and (min-width: 767px){
    .product-title__back:hover {
      color: #1f2123;
      background-image: url(../img/arrow-black-left.png);
    }

    .product-content__share-btn:hover {
      background-color: #3e576f;
    }

    .product-content__buy-btn:hover {
      background-color: #ffcb41;
    }

    .product-content__configure-btn:hover {
      background-color: #3e576f;
    }

    .product-slider button:hover {
      background-color: #ffcb41;
    }

    .product-slider .slick-slide:hover .product-slider__slide-title h2 {
      top: 105px;
    }

    .product-slider .slick-slide:hover .product-slider__slide-title span {
      opacity: 1;
    }
  }

  @media screen and (max-width: 767px) {
    .carousel-thumbs {
      padding: 0 30px;
      font-size: 0;
      margin-bottom: 60px;
    }

    .product-content__info {
      margin-top: 0;
    }

    .product-content__info.visible {
      transform: translateY(0);
    }

    .product-content__info * {
      opacity: 1;
    }

    .product-content__item {
      margin-top: 0;
    }

    .product-content__item.visible {
      transform: translateY(0);
    }

    .product-content__item * {
      opacity: 1;
    }

    .product-slider .slick-slide:hover .product-slider__slide-content {
      transform: scale(1);
    }

    .product-slider .slick-slide:hover .product-slider__dark-bg {
      background-color: transparent;

    }

    .product-slider .slick-slide .product-slider__slide-title {
      top: 95px;
      left: 15px;
    }

    .product-slider .slick-slide .product-slider__slide-title h2 {
      font-size: 30px;
      top: 115px;
    }

    .product-slider .slick-slide .product-slider__slide-title span {
      opacity: 1;
      font-size: 15px;
    }
  }

  @media screen and (max-width: 480px) {
    .carousel-track {
      //height: 360px !important;

      .carousel-slide {
        display: block;
        width: 100%;
        height: 100% !important;

        img {
          width: 100%;
          min-width: 100%;
          height: auto;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -50%;
        }
      }
    }
  }

  @media screen and (max-width: 767px) and (min-width: 561px) {
    .carousel-thumbs .carousel-slide {
      width: 20%;
      height: auto;
      margin: 0 0 20px;

      img {
        width: 90%;
        display: block;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 560px) and (min-width: 361px) {
    .carousel-thumbs .carousel-slide {
      width: 25%;
      height: auto;
      margin: 0 0 20px;

      img {
        width: 90%;
        display: block;
        margin: 0 auto;
      }
    }
  }

  @media screen and (max-width: 550px) {

    .product-slider .slick-slide {
      height: 160px;
    }

    .product-slider button {
      width: 20px;
      height: 20px;
    }

    .product-slider .slick-prev {
      margin-top: -10px;
    }

    .product-slider .slick-next {
      margin-top: -10px;
    }

    .product-slider .slick-slide .product-slider__slide-title {
      top: 5px;
      left: 15px;
    }

    .product-slider .slick-slide .product-slider__slide-title h2 {
      font-size: 20px;
      top: 35px;
      left: 35px;
    }

    .product-slider .slick-slide .product-slider__slide-title span {
      font-size: 12px;
      top: 65px;
      left: 35px;
    }

    .product-slider .slick-slide:not(.slick-current) .product-slider__slide-title h2 {
      left: 20px;
      right: 20px;
    }

    .product-slider .slick-slide:not(.slick-current) .product-slider__slide-title span {
      left: 20px;
      right: 20px;
    }
  }

  @media screen and (max-width: 360px) {
    .carousel-thumbs .carousel-slide {
      width: 33%;
      height: auto;
      margin: 0 0 20px;

      img {
        width: 90%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

