.product-list-page {

  .content {
    padding-top: 141px;
  }

  .models-tabs {
    height: 40px;
    background-color: #e3aa14;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    margin-top: 101px;
  }

  .models-tabs li {
    display: inline-block;
    margin-right: 85px;
  }

  .models-tabs li:last-child {
    margin-right: 0;
  }

  .models-tabs li a {
    font-family: 'poppinsregular';
    font-size: 16px;
    letter-spacing: 0.9px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 40px;
    -webkit-transition: all 0.4s ease 0.1s;
    -moz-transition: all 0.4s ease 0.1s;
    -o-transition: all 0.4s ease 0.1s;
    transition: all 0.4s ease 0.1s;
  }

  .models-tabs li a:hover, .models-tabs li a.active {
    color: #272d3d;
  }

  .all-bikes-tabs {
    height: 60px;
    list-style-type: none;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
  }

  .all-bikes-tabs:after {
    content: '';
    display: block;
    width: 2px;
    height: 14px;
    background-color: #1f2123;
    position: absolute;
    left: 50%;
    margin-left: -1px;
    top: 50%;
    margin-top: -7px;
    box-shadow: 0 0 1px #1f2123;
  }

  .all-bikes-tabs li {
    display: inline-block;
  }

  .all-bikes-tabs li:first-child {
    margin-right: 90px;
  }

  .all-bikes-tabs li:last-child {
    margin-right: -95px;
  }

  .all-bikes-tabs li a {
    font-family: 'poppinssemibold';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: #1f2123;
    text-transform: uppercase;
    line-height: 64px;
    position: relative;
  }

  .all-bikes-tabs li a:after {
    content:'';
    display: block;
    height: 2px;
    width: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background-color: #e3aa14;
    -webkit-transition: all 0.4s ease 0.1s;
    -moz-transition: all 0.4s ease 0.1s;
    -o-transition: all 0.4s ease 0.1s;
    transition: all 0.4s ease 0.1s;
  }

  .all-bikes-tabs li a:hover:after, .all-bikes-tabs li a.active:after {
    width: 100%;
  }

  .product-list {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .product-list__item {
    position: relative;
      background-image: linear-gradient(to top, #ffffff, #d6dbde);
    clear: both;
    height: 600px;
  }

  .product-list__item-info {
    position: absolute;
    text-align: left;
    top: 330px;
    left: 7%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }

  .product-list__item-info.visible {
    transform: translateY(-190px);
  }

  .product-list__item-info * {
    opacity: 0;

  }

  .product-list__item-info.visible * {
    opacity: 1;
  }

  .product-list__item-info span {
    position: absolute;
    right: 0;
    top: -30px;
    background-color: #202123;
    color: #D8D8D8;
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.5px;
    -webkit-transition: opacity 0.6s ease 0.1s;
    -moz-transition: opacity 0.6s ease 0.1s;
    -o-transition: opacity 0.6s ease 0.1s;
    transition: opacity 0.6s ease 0.1s;
  }

  .product-list__item-info h2 {
    font-family: 'poppinsmedium';
    font-size: 60px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 3.3px;
    color: #1f2123;
    text-transform: uppercase;
    margin: 0 0 15px;
    -webkit-transition: opacity 0.6s ease 0.1s;
    -moz-transition: opacity 0.6s ease 0.1s;
    -o-transition: opacity 0.6s ease 0.1s;
    transition: opacity 0.6s ease 0.1s;
  }

  .product-list__item-info h4 {
    font-family: 'poppinsmedium';
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    color: #272d3d;
    text-transform: uppercase;
    margin: 0 0 25px;
    -webkit-transition: opacity 0.6s ease 0.4s;
    -moz-transition: opacity 0.6s ease 0.4s;
    -o-transition: opacity 0.6s ease 0.4s;
    transition: opacity 0.6s ease 0.4s;
  }

  .product-list__item-info a {
    width: 260px;
    height: 60px;
    background-color: #e3aa14;
    font-family: 'poppinslight';
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1.1px;
    color: #ffffff;
    display: block;
    text-align: center;
    line-height: 60px;
    -webkit-transition: opacity 0.6s ease 0.7s, all 0.3s ease;
    -moz-transition: opacity 0.6s ease 0.7s, all 0.3s ease;
    -o-transition: opacity 0.6s ease 0.7s, all 0.3s ease;
    transition: opacity 0.6s ease 0.7s, all 0.3s ease;
  }

  .product-list img {
    width: 50%;
    float: right;
    margin-right: 7%;
    margin-top: 5%;
  }

  .product-list__img {
    display: block;
  }

  .on-top {
    font-family: 'poppinsregular';
    font-size: 15px;
    line-height: 2.1;
    letter-spacing: 0.8px;
    color: #1f2123;
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 15px;
    background-image: url(../img/arrow-black.png);
    background-repeat: no-repeat;
    background-position: right 40%;
    padding-right: 22px;
  }

  @media screen and (max-width: 1200px) {
    .content {
      padding-top: 110px;
    }

    .models-tabs {
      margin-top: 70px;
    }
  }

  @media screen and (max-width: 1185px) {
    .product-list__item {
      height: 450px;
    }

    .product-list__item-info span {
      width: 140px;
      height: 27px;
      line-height: 27px;
      font-size: 14px;
    }

    .product-list__item-info h2 {
      font-size: 30px;
      letter-spacing: 1.63px;
    }

    .product-list__item-info h4 {
      font-size: 15px;
    }

    .product-list__item-info a {
      width: 202px;
      height: 44px;
      line-height: 44px;
      font-size: 16px;
      letter-spacing: 0.87px;
    }
  }

  @media screen and (max-width: 1100px) {
    .product-list__item {
      height: 400px;
    }
  }

  @media screen and (max-width: 970px) {

    .content {
      padding-top: 60px;
    }

    .models-tabs {
      display: none;
    }
  }

  @media screen and (max-width: 932px) {



    .all-bikes-tabs {
      height: 44px;
    }

    .all-bikes-tabs:after {
      display: none;
    }

    .all-bikes-tabs li:first-child {
      margin-right: 0;
      position: relative;
      padding-right: 18px;
    }

    .all-bikes-tabs li:first-child:after {
      content: '';
      display: block;
      width: 2px;
      height: 14px;
      background-color: #1f2123;
      position: absolute;
      right: 0;
      margin-left: -1px;
      top: 50%;
      margin-top: -7px;
      box-shadow: 0 0 1px #1f2123;
    }

    .all-bikes-tabs li:last-child {
      margin-right: 15px;
      padding-left: 13px;
    }

    .all-bikes-tabs li a {
      font-size: 14px;
      letter-spacing: 0.76px;
      line-height: 44px;
    }



  }

  @media screen and (max-width: 915px) {
    .product-list img {
      margin-top: 8%;
    }
  }

  @media screen and (min-width: 810px) {
    .product-list__item-info a:hover {
      background-color: #ffcb41;
    }

    .on-top:hover {
      color: #ffcb41;
    }
  }

  @media screen and (max-width: 810px) {

    .product-list__item {
      height: 600px;
    }

    .product-list img {
      margin: 0 auto;
      padding-top: 150px;
      width: 80%;
      float: none;
    }

    .product-list__item-info {
      text-align: center;
      top: 35px;
      bottom: 50px;
      left: 0;
      right: 0;
      opacity: 1;
    }

    .product-list__item-info.visible {
      transform: translateY(0);
    }

    .product-list__item-info * {
      opacity: 1;
    }

    .product-list__item-info span {
      position: static;
      display: inline-block;
    }

    .product-list__item-info h2 {
      margin-bottom: 12px;
    }

    .product-list__item-info h4 {
      margin-bottom: 15px;
    }

    .product-list__item-info a {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -101px;
    }
  }

  @media screen and (max-width: 690px) {

    .product-list__item {
      height: 550px;
    }
  }

  @media screen and (max-width: 540px) {

    .product-list__item {
      height: 500px;
    }

    .on-top {
      display: none;
    }
  }

  @media screen and (max-width: 430px) {

    .product-list__item {
      height: 450px;
    }
  }
}