@font-face {
  font-family: 'poppinsbold';
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"), url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinslight';
  src: url("../fonts/poppins-light-webfont.woff2") format("woff2"), url("../fonts/poppins-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsmedium';
  src: url("../fonts/poppins-medium-webfont.woff2") format("woff2"), url("../fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinsregular';
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"), url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'poppinssemibold';
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"), url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?e57xx");
  src: url("../fonts/icomoon.eot?e57xx#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?e57xx") format("truetype"), url("../fonts/icomoon.woff?e57xx") format("woff"), url("../fonts/icomoon.svg?e57xx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-family: sans-serif;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  margin: 0; }

body a {
  text-decoration: none;
  outline: none; }

.wrapper {
  left: 0;
  right: 0;
  position: relative;
  -webkit-transition: right 0.4s ease 0.1s, left 0.4s ease 0.1s;
  -moz-transition: right 0.4s ease 0.1s, left 0.4s ease 0.1s;
  -o-transition: right 0.4s ease 0.1s, left 0.4s ease 0.1s;
  transition: right 0.4s ease 0.1s, left 0.4s ease 0.1s; }

.content {
  position: relative; }

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 100500; }

#page-preloader .spinner {
  width: 405px;
  height: 270px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../gif/logo-fill-2.gif);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  margin: -135px 0 0 -202px; }

.section-title {
  font-family: 'poppinsmedium';
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2.2px;
  color: #1f2123;
  text-transform: uppercase;
  margin: 0;
  line-height: 90px;
  text-align: center; }

.header {
  background-color: #1F2123;
  height: 101px;
  position: fixed;
  width: 100%;
  z-index: 8000; }

.mnu-tabs {
  list-style-type: none;
  line-height: 100px;
  padding: 0;
  margin: 0;
  float: left; }

.mnu-tabs li {
  display: inline;
  margin-left: 45px; }

.mnu-tabs li a {
  color: #fff;
  font-family: 'poppinsregular';
  text-decoration: none;
  outline: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.98px;
  position: relative;
  padding: 0 3px 0 4px; }

.mnu-tabs li a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #e3aa14;
  -webkit-transition: all 0.4s ease 0.1s;
  -moz-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s; }

.mnu-tabs li a:hover:after, .mnu-tabs li a.active:after, .mnu-tabs li a.active:after {
  width: 100%; }

.mnu-tabs-mob {
  display: none;
  list-style-type: none;
  line-height: 60px;
  padding: 0;
  margin: 0;
  float: left; }

.mnu-tabs-mob li {
  display: inline;
  margin-left: 20px; }

.mnu-logo {
  position: absolute;
  left: 50%;
  margin-left: -77px;
  top: 50%;
  margin-top: -42px; }

.mnu-logo img {
  width: 154px; }

.mnu-icons {
  list-style-type: none;
  line-height: 100px;
  padding: 0 45px 0 0;
  margin: 0;
  float: right; }

.mnu-icons li {
  display: inline-block;
  margin-left: 35px;
  height: 100%;
  width: 45px;
  text-align: center;
  position: relative; }

.mnu-icons li.active {
  background-color: #ffcb41; }

.mnu-icons li a {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100%;
  background-size: 100%;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear; }

.mnu-icons__icon-search {
  background-image: url(../img/icons/search.svg); }

.mnu-icons__icon-cart {
  background-image: url(../img/icons/cart-icon.svg); }

.mnu-icons__icon-share {
  background-image: url(../img/icons/share.svg); }

.mnu-icons__share-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ffcb41;
  width: 100%;
  position: absolute;
  top: 95%;
  left: 0;
  display: none;
  height: 323px; }

.mnu-icons__share-list li {
  height: auto;
  margin-left: 0;
  display: block;
  margin-bottom: 12px; }

.mnu-icons__share-list li a {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto; }

.mnu-icons__share-fb {
  background-image: url(../img/icons/fb-m.svg); }

.mnu-icons__share-tw {
  background-image: url(../img/icons/tw-m.svg); }

.mnu-icons__share-pint {
  background-image: url(../img/icons/p-m.svg); }

.mnu-icons__share-goo {
  background-image: url(../img/icons/g+-m.svg); }

.mnu-icons__share-red {
  background-image: url(../img/icons/red-m.svg); }

.mnu-icons__share-mail {
  background-image: url(../img/icons/mail-c.svg); }

.mnu-icons__share-more {
  background-image: url(../img/icons/more-c.svg); }

.mnu-popup {
  width: 310px;
  background-color: #fff;
  position: fixed;
  left: -310px;
  top: 0;
  z-index: 1;
  text-align: center;
  -webkit-transition: left 0.4s ease 0.1s;
  -moz-transition: left 0.4s ease 0.1s;
  -o-transition: left 0.4s ease 0.1s;
  transition: left 0.4s ease 0.1s; }

.mnu-popup__head {
  width: 100%;
  height: 100px;
  background-color: #e3aa14;
  text-align: center;
  line-height: 100px; }

.mnu-popup__head-mob {
  display: none;
  height: 44px;
  background-color: #D8D8D8;
  text-align: left;
  padding: 0 25px; }

.mnu-popup__head-mob span {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'poppinsregular';
  line-height: 44px;
  letter-spacing: 0.87px;
  position: relative;
  padding: 0 3px 0 4px; }

.mnu-popup__head-mob span:after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #e3aa14;
  -webkit-transition: all 0.4s ease 0.1s;
  -moz-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s; }

.mnu-popup__head span {
  font-family: 'poppinsregular';
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase; }

.mnu-popup > ul {
  list-style-type: none;
  margin: 0;
  padding: 40px 39px 0;
  height: calc(100vh - 100px); }

.mnu-popup > ul .ps-scrollbar-y-rail {
  top: 100px !important; }

.mnu-popup .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: transparent; }

.mnu-popup .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y, .mnu-popup .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #e3aa14; }

.mnu-popup .ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: transparent; }

.mnu-popup .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #e3aa14; }

.mnu-popup > ul > li {
  height: 192px;
  margin-bottom: 30px; }

.mnu-popup > ul li a {
  display: block; }

.mnu-popup h6 {
  font-family: 'poppinsregular';
  font-size: 18px;
  letter-spacing: 1px;
  color: #231f20;
  margin: 20px 0 0;
  position: relative;
  display: inline-block;
  padding: 0 19px;
  text-transform: uppercase; }

.mnu-popup h6:before, .mnu-popup h6:after {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 3px;
  background: #e3aa14;
  top: 50%;
  margin-top: -1.5px; }

.mnu-popup h6:before {
  left: 0; }

.mnu-popup h6:after {
  right: 0; }

.mnu-popup ul span {
  display: inline-block;
  font-family: 'poppinslight';
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.7px;
  color: #231f20;
  margin-top: 1px; }

.mnu-popup .footer {
  display: none; }

@media screen and (max-width: 1200px) {
  .header {
    height: 70px; }

  .mnu-tabs {
    line-height: 77px; }

  .mnu-tabs li a {
    font-size: 14px; }

  .mnu-logo {
    margin-left: -55px;
    margin-top: -31px; }

  .mnu-logo img {
    width: 110px; }

  .mnu-icons {
    line-height: 84px; }

  .mnu-popup__head {
    height: 70px;
    line-height: 70px; } }
@media screen and (max-width: 970px) {
  .header {
    height: 60px; }

  .mnu-tabs {
    display: none; }

  .mnu-tabs-mob {
    display: block; }

  .mnu-tabs-mob a {
    display: inline-block;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; }

  .mnu-tabs-mob__burg {
    background-image: url(../img/mnu-burg.svg); }

  .mnu-tabs-mob__burg.active {
    background-image: url(../img/mnu-burg-close.svg); }

  .mnu-tabs-mob__search {
    background-image: url(../img/icons/search-icon.png); }

  .mnu-logo {
    top: 50%;
    margin-left: -42px;
    margin-top: -23px; }

  .mnu-logo img {
    width: 84px; }

  .mnu-icons {
    line-height: 60px;
    padding: 0; }

  .mnu-icons li {
    margin-left: 0;
    margin-right: 16px; }

  .mnu-icons > li:first-child {
    display: none; }

  .mnu-icons > li:nth-child(2) {
    width: auto; }

  .mnu-icons li img {
    width: 17px; }

  .mnu-popup {
    width: 100%;
    left: 0;
    top: 60px;
    display: none; }

  .mnu-popup__head {
    display: none; }

  .mnu-popup__head-mob {
    display: block; }

  .mnu-popup ul li a {
    text-align: center; }

  .mnu-popup h6 {
    display: block; }

  .mnu-popup h6:before {
    left: 30%; }

  .mnu-popup h6:after {
    right: 30%; }

  .mnu-popup ul span {
    display: block; }

  .mnu-popup .footer {
    display: block; } }
@media screen and (max-width: 520px) {
  .mnu-popup h6:before {
    left: 20%; }

  .mnu-popup h6:after {
    right: 20%; } }
@media screen and (max-width: 348px) {
  .mnu-popup h6:before {
    left: 10%; }

  .mnu-popup h6:after {
    right: 10%; } }
@media screen and (min-width: 767px) {
  .mnu-icons__icon-search:hover {
    background-image: url(../img/icons/search-y.svg); }

  .mnu-icons__icon-cart:hover {
    background-image: url(../img/icons/cart-y.svg); }

  .mnu-icons__icon-share:hover {
    background-image: url(../img/icons/share-y.svg); }

  .active .mnu-icons__icon-share:hover {
    background-image: url(../img/icons/share.svg); }

  .mnu-icons__icon-search:after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center;
    background-image: url(../img/icons/search-y.svg);
    opacity: 0; }

  .mnu-icons__icon-cart:after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center;
    background-image: url(../img/icons/cart-y.svg);
    opacity: 0; }

  .mnu-icons__icon-share:after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    background-position: center;
    background-image: url(../img/icons/share-y.svg);
    opacity: 0; } }
.main-page .header {
  background-color: transparent;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
  transition: background-color 1s ease; }
.main-page .content > div {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
.main-page .main-story__dark-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); }
.main-page .content > div img {
  width: 100%;
  display: block; }
.main-page .content > div video, .main-page .content > div iframe {
  width: 100%;
  display: block; }
.main-page .parallax-mirror {
  min-height: 100vh; }
.main-page .content__bg-mob {
  display: none !important; }
.main-page .content__inner {
  position: absolute;
  top: 330px;
  left: 9%;
  width: 800px;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease; }
.main-page .content__inner.visible {
  transform: translateY(-160px); }
.main-page .content__inner * {
  opacity: 0; }
.main-page .content__inner.visible * {
  opacity: 1; }
.main-page .content__inner h2 {
  font-family: 'poppinsmedium';
  font-size: 60px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 3.3px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 55px;
  text-transform: uppercase;
  -webkit-transition: opacity 0.6s ease 0.1s;
  -moz-transition: opacity 0.6s ease 0.1s;
  -o-transition: opacity 0.6s ease 0.1s;
  transition: opacity 0.6s ease 0.1s; }
.main-page .main-sale .content__inner h2 {
  width: 30%; }
.main-page .main-all-bikes .content__inner h2 {
  width: 55%; }
.main-page .content-button {
  width: 260px;
  height: 60px;
  background-color: #e3aa14;
  font-family: 'poppinslight';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.1px;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  line-height: 60px;
  vertical-align: top;
  -webkit-transition: opacity 0.6s ease 0.4s, all 0.3s ease;
  -moz-transition: opacity 0.6s ease 0.4s, all 0.3s ease;
  -o-transition: opacity 0.6s ease 0.4s, all 0.3s ease;
  transition: opacity 0.6s ease 0.4s, all 0.3s ease; }
.main-page .main-story__read {
  font-family: 'poppinsregular';
  font-size: 30px;
  line-height: 61px;
  letter-spacing: 1.6px;
  color: #ffffff;
  margin-left: 65px;
  display: inline-block;
  height: 60px;
  vertical-align: top;
  background-image: url(../img/arrow-white1.png);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 30px;
  -webkit-transition: opacity 0.6s ease 0.7s, all 0.3s ease;
  -moz-transition: opacity 0.6s ease 0.7s, all 0.3s ease;
  -o-transition: opacity 0.6s ease 0.7s, all 0.3s ease;
  transition: opacity 0.6s ease 0.7s, all 0.3s ease; }
.main-page .main-instagram h2 {
  margin: 0;
  text-align: center; }
.main-page .main-instagram h2 a {
  font-family: 'poppinslight';
  font-size: 30px;
  font-weight: 300;
  line-height: 2.6;
  letter-spacing: 1.6px;
  color: #666666; }
.main-page .main-instagram ul {
  margin: 0;
  padding: 0;
  font-size: 0; }
.main-page .main-instagram li {
  width: 25%;
  display: inline-block;
  position: relative; }
.main-page .main-instagram__dark-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease; }
.main-page .main-instagram li img {
  width: 100%;
  height: auto;
  cursor: pointer; }
.main-page .main-instagram .more-insta {
  width: 260px;
  height: 60px;
  background-color: #e3aa14;
  font-family: 'poppinslight';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.1px;
  color: #ffffff;
  line-height: 65px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin: 55px auto 50px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.main-page .main-info-block {
  background-color: #1f2123;
  position: relative; }
.main-page .main-info-block .main-info-block__inner {
  padding: 45px 0 50px 165px;
  width: 55%; }
.main-page .main-info-block h4 {
  font-family: 'poppinsmedium';
  font-size: 25px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 1.4px;
  color: #ffffff;
  text-transform: uppercase; }
.main-page .main-info-block p {
  font-family: 'poppinslight';
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.87px;
  color: #ffffff; }
.main-page .on-top {
  font-family: 'poppinsregular';
  font-size: 15px;
  line-height: 2.1;
  letter-spacing: 0.8px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 15px;
  bottom: 30px;
  background-image: url(../img/arrow-white2.png);
  background-repeat: no-repeat;
  background-position: right 41%;
  padding-right: 22px;
  margin-right: 33px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
@media screen and (max-width: 970px) {
  .main-page .content {
    padding-top: 60px; }
  .main-page .header {
    background-color: #1F2123 !important; } }
@media screen and (max-width: 932px) {
  .main-page .content__inner {
    top: 215px;
    left: 9%;
    width: 91%; }
  .main-page .content__inner h2 {
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1.1px;
    margin: 0;
    margin-bottom: 35px; }
  .main-page .content-button {
    width: 202px;
    height: 44px;
    font-size: 16px;
    letter-spacing: 0.87px;
    line-height: 44px;
    margin-bottom: 15px; }
  .main-page .main-story__read {
    font-size: 16px;
    line-height: 45px;
    letter-spacing: 0.87px;
    margin-left: 0;
    height: 44px; }
  .main-page .main-instagram h2 a {
    font-size: 16px;
    letter-spacing: 0.87px; }
  .main-page .main-instagram li {
    width: 50%; }
  .main-page .main-instagram li:nth-child(n+5) {
    display: none; }
  .main-page .main-instagram .more-insta {
    width: 202px;
    height: 44px;
    font-size: 16px;
    letter-spacing: 0.87px;
    line-height: 44px;
    margin: 30px auto 60px; }
  .main-page .main-info-block {
    height: auto; }
  .main-page .main-info-block .main-info-block__inner {
    padding: 60px 20px 60px 20px;
    width: 100%;
    box-sizing: border-box; }
  .main-page .main-info-block h4 {
    font-size: 18px;
    letter-spacing: 0.98px; }
  .main-page .main-info-block p {
    font-size: 14px;
    letter-spacing: 0.75px; }
  .main-page .on-top {
    display: none; } }
@media screen and (min-width: 767px) {
  .main-page .content-button:hover, .main-page .more-insta:hover {
    background-color: #ffcb41; }
  .main-page .main-story__read:hover, .main-page .on-top:hover {
    color: #ffcb41; }
  .main-page .main-story__read:hover {
    background-image: url(../img/icons/arrow-double-right-gold.svg); }
  .main-page .on-top:hover {
    background-image: url(../img/icons/arrow-double-up-gold.svg); }
  .main-page .main-instagram li:hover .main-instagram__dark-bg {
    background-color: rgba(0, 0, 0, 0.4); } }
@media screen and (max-width: 767px) {
  .main-page .content__inner {
    top: 55px; }
  .main-page .content__inner.visible {
    transform: translateY(0); }
  .main-page .content__inner * {
    opacity: 1; } }
@media screen and (max-width: 640px) {
  .main-page .content__bg {
    display: none !important; }
  .main-page .content__bg-mob {
    display: block !important; } }

.product-page .content {
  padding-top: 101px; }
.product-page .product-title {
  text-align: center;
  position: relative; }
.product-page .product-title h1 {
  font-family: 'poppinsmedium';
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2.2px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  line-height: 90px;
  background-color: #e3aa14; }
.product-page .product-title h2 {
  font-family: 'poppinsmedium';
  font-size: 60px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 3.3px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 270px;
  left: 165px;
  width: 40%;
  text-align: left; }
.product-page .project-carousel-mob {
  display: none; }
.product-page .carousel-thumbs-mob {
  padding-top: 20px; }
.product-page .img-thumb {
  margin: 0 5px; }
.product-page .carousel-track {
  display: block;
  width: 100%;
  height: 90vh;
  min-height: 44vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; }
  .product-page .carousel-track .prev-first, .product-page .carousel-track .next-last {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    cursor: pointer; }
    .product-page .carousel-track .prev-first:after, .product-page .carousel-track .next-last:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: black;
      opacity: .8;
      -webkit-transition: .125s linear;
      transition: .125s linear; }
    .product-page .carousel-track .prev-first img, .product-page .carousel-track .next-last img {
      display: block;
      height: 100%;
      width: auto; }
  .product-page .carousel-track .prev-first {
    left: 0; }
  .product-page .carousel-track .next-last {
    right: 0; }
  .product-page .carousel-track .carousel-slide {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(0);
    -webkit-transition: left .7s ease;
    -moz-transform: translateZ(0);
    -moz-transition: left .7s ease;
    -o-transform: translateZ(0);
    -o-transition: left .7s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: left .7s ease;
    transition: left .7s ease;
    -webkit-user-select: none; }
    .product-page .carousel-track .carousel-slide:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: black;
      opacity: 0;
      -webkit-transition: .125s linear;
      transition: .125s linear; }
    .product-page .carousel-track .carousel-slide.active {
      z-index: 99 !important; }
    .product-page .carousel-track .carousel-slide.next {
      cursor: pointer; }
      .product-page .carousel-track .carousel-slide.next:after {
        opacity: .8; }
      .product-page .carousel-track .carousel-slide.next:hover:after {
        opacity: .5; }
    .product-page .carousel-track .carousel-slide img {
      display: block;
      height: 100%;
      width: auto; }
    .product-page .carousel-track .carousel-slide.prev {
      cursor: pointer;
      -webkit-transition: left .4s ease;
      transition: left .4s ease;
      z-index: 90 !important; }
      .product-page .carousel-track .carousel-slide.prev:after {
        opacity: .8; }
      .product-page .carousel-track .carousel-slide.prev:hover:after {
        opacity: .5; }
.product-page .carousel-thumbs {
  width: 860px;
  margin: 0 auto 70px; }
  .product-page .carousel-thumbs .carousel-slide {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 60px;
    opacity: .6;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    cursor: pointer; }
    .product-page .carousel-thumbs .carousel-slide:hover, .product-page .carousel-thumbs .carousel-slide.active {
      opacity: 1; }
    .product-page .carousel-thumbs .carousel-slide img {
      height: 100%;
      width: auto; }
.product-page .product-title__img {
  height: 70vh;
  background: transparent; }
.product-page .product-title img {
  display: block;
  width: 100%; }
.product-page .product-title__back {
  font-family: 'poppinsregular';
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.8px;
  color: #ffffff;
  position: absolute;
  top: 35px;
  left: 80px;
  background-image: url(../img/arrows.png);
  background-repeat: no-repeat;
  background-position: left 43%;
  padding-left: 25px; }
.product-page .product-content {
  padding: 40px 14% 0; }
.product-page .product-content__info {
  width: 100%;
  margin-top: 160px;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
  margin-bottom: -60px; }
.product-page .product-content__info.visible {
  transform: translateY(-160px); }
.product-page .product-content__info * {
  opacity: 0; }
.product-page .product-content__info.visible * {
  opacity: 1; }
.product-page .product-content__info h4 {
  font-family: 'poppinsmedium';
  font-size: 25px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 1.4px;
  color: #1f2123;
  -webkit-transition: all 0.6s ease 0.1s;
  -moz-transition: all 0.6s ease 0.1s;
  -o-transition: all 0.6s ease 0.1s;
  transition: all 0.6s ease 0.1s; }
.product-page .product-content__info p {
  font-family: 'poppinslight';
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.87px;
  color: #1f2123;
  -webkit-transition: all 0.6s ease 0.4s;
  -moz-transition: all 0.6s ease 0.4s;
  -o-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s; }
.product-page .product-content__info .block-text {
  text-align: left !important; }
.product-page .product-content__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-type: none;
  margin-top: 10px; }
.product-page .product-content__list li {
  margin-top: 130px;
  text-align: center; }
.product-page .product-content__item {
  margin-top: 160px;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
  position: relative;
  z-index: 5000; }
.product-page .product-content__item:last-child {
  margin-bottom: -130px; }
.product-page .product-content__item.visible {
  transform: translateY(-160px); }
.product-page .product-content__item * {
  opacity: 0; }
.product-page .product-content__item.visible * {
  opacity: 1; }
.product-page .product-content__item-imgs {
  font-size: 0; }
.product-page .product-content__item-img-big {
  width: 100%;
  margin-bottom: 30px;
  -webkit-transition: all 0.6s ease 0.1s;
  -moz-transition: all 0.6s ease 0.1s;
  -o-transition: all 0.6s ease 0.1s;
  transition: all 0.6s ease 0.1s; }
.product-page .product-content__item-img-small {
  width: 49%;
  -webkit-transition: all 0.6s ease 0.7s;
  -moz-transition: all 0.6s ease 0.7s;
  -o-transition: all 0.6s ease 0.7s;
  transition: all 0.6s ease 0.7s; }
.product-page .product-content__item-img-small:nth-child(2) {
  margin-right: 2%;
  -webkit-transition: all 0.6s ease 0.4s;
  -moz-transition: all 0.6s ease 0.4s;
  -o-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s; }
.product-page .product-content__item-btns {
  text-align: center;
  position: relative;
  margin-top: 60px;
  display: inline-block;
  width: 640px; }
.product-page .product-content__item-btns a {
  vertical-align: top;
  margin-right: 3%; }
.product-page .product-content__share-btn-block {
  position: absolute;
  top: 0;
  left: calc(-60px + 4%); }
.product-page .product-content__share-btn {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #1f2123;
  background-image: url(../img/icons/share-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 0.6s ease 1s, background-color 0.3s ease;
  -moz-transition: opacity 0.6s ease 1s, background-color 0.3s ease;
  -o-transition: opacity 0.6s ease 1s, background-color 0.3s ease;
  transition: opacity 0.6s ease 1s, background-color 0.3s ease; }
.product-page .product-content__share-btn.active {
  background-color: #3e576f; }
.product-page .product-content__share-list {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  background-color: #f0f1f3;
  width: 0;
  -webkit-transition: width 0.3s ease 0.1s;
  -moz-transition: width 0.3s ease 0.1s;
  -o-transition: width 0.3s ease 0.1s;
  transition: width 0.3s ease 0.1s;
  z-index: 1500; }
.product-page .product-content__share-list li {
  display: inline;
  margin-top: 0;
  margin-right: 10px;
  line-height: 60px; }
.product-page .product-content__share-list li:last-child {
  margin-right: 0; }
.product-page .product-content__share-list li a {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }
.product-page .product-content__share-fb {
  background-image: url(../img/icons/fb-c.svg); }
.product-page .product-content__share-tw {
  background-image: url(../img/icons/tw-c.svg); }
.product-page .product-content__share-pint {
  background-image: url(../img/icons/p-c.svg); }
.product-page .product-content__share-goo {
  background-image: url(../img/icons/g+-c.svg); }
.product-page .product-content__share-red {
  background-image: url(../img/icons/red-c.svg); }
.product-page .product-content__share-mail {
  background-image: url(../img/icons/mail-c.svg); }
.product-page .product-content__share-more {
  background-image: url(../img/icons/more-c.svg); }
.product-page .product-content__item.visible .product-content__share-list li a {
  opacity: 0; }
.product-page .product-content__buy-btn {
  display: inline-block;
  width: 260px;
  height: 60px;
  background-color: #e3aa14;
  font-family: 'poppinslight';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.1px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  -webkit-transition: all 0.6s ease 1.3s, all 0.3s ease;
  -moz-transition: all 0.6s ease 1.3s, all 0.3s ease;
  -o-transition: all 0.6s ease 1.3s, all 0.3s ease;
  transition: all 0.6s ease 1.3s, all 0.3s ease; }
.product-page .product-content__configure-btn {
  display: inline-block;
  width: 260px;
  height: 60px;
  background-color: #1f2123;
  font-family: 'poppinslight';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.1px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  margin-right: 0 !important;
  -webkit-transition: all 0.6s ease 1.6s, all 0.3s ease;
  -moz-transition: all 0.6s ease 1.6s, all 0.3s ease;
  -o-transition: all 0.6s ease 1.6s, all 0.3s ease;
  transition: all 0.6s ease 1.6s, all 0.3s ease; }
.product-page .product-slider .slick-slide {
  height: 400px;
  position: relative;
  overflow: hidden; }
.product-page .product-slider .product-slider__slide-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: transform 2s ease;
  -moz-transition: transform 2s ease;
  -o-transition: transform 2s ease;
  transition: transform 2s ease; }
.product-page .product-slider .slick-slide:hover .product-slider__slide-content {
  transform: scale(1.5);
  -webkit-transition: transform 10s ease;
  -moz-transition: transform 10s ease;
  -o-transition: transform 10s ease;
  transition: transform 10s ease; }
.product-page .product-slider .product-slider__dark-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  -webkit-transition: background-color 2s ease;
  -moz-transition: background-color 2s ease;
  -o-transition: background-color 2s ease;
  transition: background-color 2s ease; }
.product-page .product-slider .slick-slide:hover .product-slider__dark-bg {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
.product-page .product-slider .slick-slide .product-slider__slide-title {
  top: 150px;
  left: 80px;
  z-index: 1; }
.product-page .product-slider .slick-slide .product-slider__slide-title h2 {
  font-family: 'poppinsmedium';
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 160px;
  left: 80px;
  z-index: 1;
  -webkit-transition: top 0.6s ease;
  -moz-transition: top 0.6s ease;
  -o-transition: top 0.6s ease;
  transition: top 0.6s ease;
  pointer-events: none; }
.product-page .product-slider .slick-slide:not(.slick-current) .product-slider__slide-title h2 {
  left: 40px;
  right: 60px; }
.product-page .product-slider .slick-slide .product-slider__slide-title span {
  font-family: 'poppinsmedium';
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1.4px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 80px;
  pointer-events: none; }
.product-page .product-slider .slick-slide:not(.slick-current) .product-slider__slide-title span {
  left: 40px;
  right: 60px; }
.product-page .product-slider button {
  width: 59px;
  height: 60px;
  background-color: #ffffff;
  font-size: 0;
  border: none;
  position: absolute;
  z-index: 1;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.product-page .product-slider .slick-prev {
  left: 0;
  top: 50%;
  margin-top: -30px;
  background-image: url(../img/arrow-black-left.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 30%;
  background-size: 30%; }
.product-page .product-slider .slick-next {
  right: 0;
  top: 50%;
  margin-top: -30px;
  background-image: url(../img/arrow-black-right.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 30%;
  background-size: 30%; }
.product-page .on-top {
  font-family: 'poppinsregular';
  font-size: 15px;
  line-height: 2.1;
  letter-spacing: 0.8px;
  color: #1f2123;
  display: block;
  text-align: right;
  margin-bottom: 30px;
  margin-right: 15px;
  cursor: pointer;
  background-image: url(../img/arrow-black.png);
  background-repeat: no-repeat;
  background-position: right 40%;
  padding-right: 22px; }
@media screen and (max-width: 991px) {
  .product-page .project-carousel {
    display: none; }
  .product-page .project-carousel-mob {
    display: block; }
  .product-page .carousel-track {
    height: auto; }
    .product-page .carousel-track .carousel-slide {
      left: 0 !important;
      width: 100%;
      height: auto; }
      .product-page .carousel-track .carousel-slide img {
        width: 100%;
        height: auto; }
      .product-page .carousel-track .carousel-slide.prev {
        left: -50% !important; }
  .product-page .prev-first {
    display: none !important; }
  .product-page .next-last {
    display: none !important; }
  .product-page .carousel-thumbs {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    margin-bottom: 85px; } }
@media screen and (max-width: 1200px) {
  .product-page .content {
    padding-top: 70px; } }
@media screen and (max-width: 970px) {
  .product-page .content {
    padding-top: 60px; } }
@media screen and (max-width: 932px) {
  .product-page .product-title__back {
    display: none; }
  .product-page .product-title h1 {
    padding: 0;
    font-size: 30px;
    letter-spacing: 1.63px;
    line-height: 47px; }
  .product-page .product-title h2 {
    font-size: 20px;
    letter-spacing: 1.1px;
    top: 80px;
    left: 20px;
    width: 57%; }
  .product-page .product-content {
    padding: 25px 20px 55px; }
  .product-page .product-content__info {
    width: 100%; }
  .product-page .product-content__info h4 {
    font-size: 18px;
    letter-spacing: 0.97px;
    margin: 0 0 8px; }
  .product-page .product-content__info p {
    font-size: 14px;
    letter-spacing: 0.7px;
    margin: 0; }
  .product-page .product-content__list li {
    margin-top: 55px; }
  .product-page .product-content__item-btns {
    width: 100%;
    display: block;
    margin-top: 30px;
    padding-bottom: 45px; }
  .product-page .product-content__item-btns a {
    margin: 0 auto 10px; }
  .product-page .product-content__buy-btn {
    width: 202px;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: 0.87px;
    display: block; }
  .product-page .product-content__configure-btn {
    width: 202px;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: 0.87px;
    display: block;
    margin-right: auto !important; }
  .product-page .product-content__share-btn-block {
    left: 50%;
    margin-left: -101px !important;
    top: 107px; }
  .product-page .product-content__share-btn {
    width: 202px;
    height: 44px;
    background-color: #5E6062;
    margin-bottom: 0 !important; }
  .product-page .product-content__share-list {
    top: 100%;
    left: 0;
    height: auto;
    width: 100%;
    display: none; }
  .product-page .product-title__img {
    height: 35vh; }
  .product-page .on-top {
    display: none; } }
@media screen and (min-width: 767px) {
  .product-page .product-title__back:hover {
    color: #1f2123;
    background-image: url(../img/arrow-black-left.png); }
  .product-page .product-content__share-btn:hover {
    background-color: #3e576f; }
  .product-page .product-content__buy-btn:hover {
    background-color: #ffcb41; }
  .product-page .product-content__configure-btn:hover {
    background-color: #3e576f; }
  .product-page .product-slider button:hover {
    background-color: #ffcb41; }
  .product-page .product-slider .slick-slide:hover .product-slider__slide-title h2 {
    top: 105px; }
  .product-page .product-slider .slick-slide:hover .product-slider__slide-title span {
    opacity: 1; } }
@media screen and (max-width: 767px) {
  .product-page .carousel-thumbs {
    padding: 0 30px;
    font-size: 0;
    margin-bottom: 60px; }
  .product-page .product-content__info {
    margin-top: 0; }
  .product-page .product-content__info.visible {
    transform: translateY(0); }
  .product-page .product-content__info * {
    opacity: 1; }
  .product-page .product-content__item {
    margin-top: 0; }
  .product-page .product-content__item.visible {
    transform: translateY(0); }
  .product-page .product-content__item * {
    opacity: 1; }
  .product-page .product-slider .slick-slide:hover .product-slider__slide-content {
    transform: scale(1); }
  .product-page .product-slider .slick-slide:hover .product-slider__dark-bg {
    background-color: transparent; }
  .product-page .product-slider .slick-slide .product-slider__slide-title {
    top: 95px;
    left: 15px; }
  .product-page .product-slider .slick-slide .product-slider__slide-title h2 {
    font-size: 30px;
    top: 115px; }
  .product-page .product-slider .slick-slide .product-slider__slide-title span {
    opacity: 1;
    font-size: 15px; } }
@media screen and (max-width: 480px) {
  .product-page .carousel-track .carousel-slide {
    display: block;
    width: 100%;
    height: 100% !important; }
    .product-page .carousel-track .carousel-slide img {
      width: 100%;
      min-width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -50%; } }
@media screen and (max-width: 767px) and (min-width: 561px) {
  .product-page .carousel-thumbs .carousel-slide {
    width: 20%;
    height: auto;
    margin: 0 0 20px; }
    .product-page .carousel-thumbs .carousel-slide img {
      width: 90%;
      display: block;
      margin: 0 auto; } }
@media screen and (max-width: 560px) and (min-width: 361px) {
  .product-page .carousel-thumbs .carousel-slide {
    width: 25%;
    height: auto;
    margin: 0 0 20px; }
    .product-page .carousel-thumbs .carousel-slide img {
      width: 90%;
      display: block;
      margin: 0 auto; } }
@media screen and (max-width: 550px) {
  .product-page .product-slider .slick-slide {
    height: 160px; }
  .product-page .product-slider button {
    width: 20px;
    height: 20px; }
  .product-page .product-slider .slick-prev {
    margin-top: -10px; }
  .product-page .product-slider .slick-next {
    margin-top: -10px; }
  .product-page .product-slider .slick-slide .product-slider__slide-title {
    top: 5px;
    left: 15px; }
  .product-page .product-slider .slick-slide .product-slider__slide-title h2 {
    font-size: 20px;
    top: 35px;
    left: 35px; }
  .product-page .product-slider .slick-slide .product-slider__slide-title span {
    font-size: 12px;
    top: 65px;
    left: 35px; }
  .product-page .product-slider .slick-slide:not(.slick-current) .product-slider__slide-title h2 {
    left: 20px;
    right: 20px; }
  .product-page .product-slider .slick-slide:not(.slick-current) .product-slider__slide-title span {
    left: 20px;
    right: 20px; } }
@media screen and (max-width: 360px) {
  .product-page .carousel-thumbs .carousel-slide {
    width: 33%;
    height: auto;
    margin: 0 0 20px; }
    .product-page .carousel-thumbs .carousel-slide img {
      width: 90%;
      display: block;
      margin: 0 auto; } }

.ready-to-buy-page .content {
  padding-top: 101px; }
.ready-to-buy-page .all-bikes-tabs {
  height: 60px;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative; }
.ready-to-buy-page .all-bikes-tabs:after {
  content: '';
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1f2123;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 50%;
  margin-top: -7px;
  box-shadow: 0 0 1px #1f2123; }
.ready-to-buy-page .all-bikes-tabs li {
  display: inline-block; }
.ready-to-buy-page .all-bikes-tabs li:first-child {
  margin-right: 90px; }
.ready-to-buy-page .all-bikes-tabs li:last-child {
  margin-right: -95px; }
.ready-to-buy-page .all-bikes-tabs li a {
  font-family: 'poppinssemibold';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.9px;
  color: #1f2123;
  text-transform: uppercase;
  line-height: 64px;
  position: relative; }
.ready-to-buy-page .all-bikes-tabs li a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #e3aa14;
  -webkit-transition: all 0.4s ease 0.1s;
  -moz-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s; }
.ready-to-buy-page .all-bikes-tabs li a:hover:after, .ready-to-buy-page .all-bikes-tabs li a.active:after {
  width: 100%; }
.ready-to-buy-page .product-title {
  text-align: center;
  position: relative; }
.ready-to-buy-page .product-title h1 {
  font-family: 'poppinsmedium';
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2.2px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  line-height: 90px;
  background-color: #e3aa14; }
.ready-to-buy-page .product-title h2 {
  font-family: 'poppinsmedium';
  font-size: 60px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 3.3px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 270px;
  left: 165px;
  width: 40%;
  text-align: left; }
.ready-to-buy-page .product-list {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%; }
.ready-to-buy-page .product-list__item-info h2 {
  font-family: 'poppinsmedium';
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2.2px;
  color: #1f2123;
  text-transform: uppercase;
  line-height: 90px;
  text-align: center;
  margin: 1em auto; }
.ready-to-buy-page .project-carousel-mob {
  display: none; }
.ready-to-buy-page .carousel-thumbs-mob {
  padding-top: 20px; }
.ready-to-buy-page .img-thumb {
  margin: 0 5px; }
.ready-to-buy-page .carousel-track {
  display: block;
  width: 100%;
  height: 90vh;
  min-height: 44vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; }
  .ready-to-buy-page .carousel-track .prev-first, .ready-to-buy-page .carousel-track .next-last {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    cursor: pointer; }
    .ready-to-buy-page .carousel-track .prev-first:after, .ready-to-buy-page .carousel-track .next-last:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: black;
      opacity: .8;
      -webkit-transition: .125s linear;
      transition: .125s linear; }
    .ready-to-buy-page .carousel-track .prev-first img, .ready-to-buy-page .carousel-track .next-last img {
      display: block;
      height: 100%;
      width: auto; }
  .ready-to-buy-page .carousel-track .prev-first {
    left: 0; }
  .ready-to-buy-page .carousel-track .next-last {
    right: 0; }
  .ready-to-buy-page .carousel-track .carousel-slide {
    display: inline-block;
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform: translateZ(0);
    -webkit-transition: left .7s ease;
    -moz-transform: translateZ(0);
    -moz-transition: left .7s ease;
    -o-transform: translateZ(0);
    -o-transition: left .7s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: left .7s ease;
    transition: left .7s ease;
    -webkit-user-select: none; }
    .ready-to-buy-page .carousel-track .carousel-slide:after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: black;
      opacity: 0;
      -webkit-transition: .125s linear;
      transition: .125s linear; }
    .ready-to-buy-page .carousel-track .carousel-slide.active {
      z-index: 99 !important; }
    .ready-to-buy-page .carousel-track .carousel-slide.next {
      cursor: pointer; }
      .ready-to-buy-page .carousel-track .carousel-slide.next:after {
        opacity: .8; }
      .ready-to-buy-page .carousel-track .carousel-slide.next:hover:after {
        opacity: .5; }
    .ready-to-buy-page .carousel-track .carousel-slide img {
      display: block;
      height: 100%;
      width: auto; }
    .ready-to-buy-page .carousel-track .carousel-slide.prev {
      cursor: pointer;
      -webkit-transition: left .4s ease;
      transition: left .4s ease;
      z-index: 90 !important; }
      .ready-to-buy-page .carousel-track .carousel-slide.prev:after {
        opacity: .8; }
      .ready-to-buy-page .carousel-track .carousel-slide.prev:hover:after {
        opacity: .5; }
.ready-to-buy-page .carousel-thumbs {
  width: 860px;
  margin: 0 auto 70px; }
  .ready-to-buy-page .carousel-thumbs .carousel-slide {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 60px;
    opacity: .6;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    cursor: pointer; }
    .ready-to-buy-page .carousel-thumbs .carousel-slide:hover, .ready-to-buy-page .carousel-thumbs .carousel-slide.active {
      opacity: 1; }
    .ready-to-buy-page .carousel-thumbs .carousel-slide img {
      height: 100%;
      width: auto; }
.ready-to-buy-page .product-title__img {
  height: 70vh;
  background: transparent; }
.ready-to-buy-page .product-title img {
  display: block;
  width: 100%; }
.ready-to-buy-page .product-title__back {
  font-family: 'poppinsregular';
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.8px;
  color: #ffffff;
  position: absolute;
  top: 35px;
  left: 80px;
  background-image: url(../img/arrows.png);
  background-repeat: no-repeat;
  background-position: left 43%;
  padding-left: 25px; }
.ready-to-buy-page .product-content {
  padding: 40px 14% 0; }
.ready-to-buy-page .product-content__info {
  width: 89%;
  margin-top: 160px;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease; }
.ready-to-buy-page .product-content__info.visible {
  transform: translateY(-160px); }
.ready-to-buy-page .product-content__info * {
  opacity: 0; }
.ready-to-buy-page .product-content__info.visible * {
  opacity: 1; }
.ready-to-buy-page .product-content__info h4 {
  font-family: 'poppinsmedium';
  font-size: 25px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 1.4px;
  color: #1f2123;
  -webkit-transition: all 0.6s ease 0.1s;
  -moz-transition: all 0.6s ease 0.1s;
  -o-transition: all 0.6s ease 0.1s;
  transition: all 0.6s ease 0.1s; }
.ready-to-buy-page .product-content__info p {
  font-family: 'poppinslight';
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.87px;
  color: #1f2123;
  -webkit-transition: all 0.6s ease 0.4s;
  -moz-transition: all 0.6s ease 0.4s;
  -o-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s; }
.ready-to-buy-page .product-content__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-type: none;
  margin-top: 10px; }
.ready-to-buy-page .product-content__list li {
  margin-top: 130px;
  text-align: center; }
.ready-to-buy-page .product-content__item {
  margin-top: 160px;
  -webkit-transition: all 1.2s ease;
  -moz-transition: all 1.2s ease;
  -o-transition: all 1.2s ease;
  transition: all 1.2s ease;
  position: relative;
  z-index: 5000; }
.ready-to-buy-page .product-content__item.visible {
  transform: translateY(-160px); }
.ready-to-buy-page .product-content__item * {
  opacity: 0; }
.ready-to-buy-page .product-content__item.visible * {
  opacity: 1; }
.ready-to-buy-page .product-content__item-imgs {
  font-size: 0; }
.ready-to-buy-page .product-content__item-img-big {
  width: 100%;
  margin-bottom: 30px;
  -webkit-transition: all 0.6s ease 0.1s;
  -moz-transition: all 0.6s ease 0.1s;
  -o-transition: all 0.6s ease 0.1s;
  transition: all 0.6s ease 0.1s; }
.ready-to-buy-page .product-content__item-img-small {
  width: 49%;
  -webkit-transition: all 0.6s ease 0.7s;
  -moz-transition: all 0.6s ease 0.7s;
  -o-transition: all 0.6s ease 0.7s;
  transition: all 0.6s ease 0.7s; }
.ready-to-buy-page .product-content__item-img-small:nth-child(2) {
  margin-right: 2%;
  -webkit-transition: all 0.6s ease 0.4s;
  -moz-transition: all 0.6s ease 0.4s;
  -o-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s; }
.ready-to-buy-page .product-content__item-btns {
  text-align: center;
  position: relative;
  margin-top: 60px;
  display: inline-block;
  width: 640px; }
.ready-to-buy-page .product-content__item-btns a {
  vertical-align: top;
  margin-right: 3%; }
.ready-to-buy-page .product-content__share-btn-block {
  position: absolute;
  top: 0;
  left: calc(-60px + 4%); }
.ready-to-buy-page .product-content__share-btn {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #1f2123;
  background-image: url(../img/icons/share-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: opacity 0.6s ease 1s, background-color 0.3s ease;
  -moz-transition: opacity 0.6s ease 1s, background-color 0.3s ease;
  -o-transition: opacity 0.6s ease 1s, background-color 0.3s ease;
  transition: opacity 0.6s ease 1s, background-color 0.3s ease; }
.ready-to-buy-page .product-content__share-btn.active {
  background-color: #3e576f; }
.ready-to-buy-page .product-content__share-list {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  background-color: #f0f1f3;
  width: 0;
  -webkit-transition: width 0.3s ease 0.1s;
  -moz-transition: width 0.3s ease 0.1s;
  -o-transition: width 0.3s ease 0.1s;
  transition: width 0.3s ease 0.1s;
  z-index: 1500; }
.ready-to-buy-page .product-content__share-list li {
  display: inline;
  margin-top: 0;
  margin-right: 10px;
  line-height: 60px; }
.ready-to-buy-page .product-content__share-list li:last-child {
  margin-right: 0; }
.ready-to-buy-page .product-content__share-list li a {
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }
.ready-to-buy-page .product-content__share-fb {
  background-image: url(../img/icons/fb-c.svg); }
.ready-to-buy-page .product-content__share-tw {
  background-image: url(../img/icons/tw-c.svg); }
.ready-to-buy-page .product-content__share-pint {
  background-image: url(../img/icons/p-c.svg); }
.ready-to-buy-page .product-content__share-goo {
  background-image: url(../img/icons/g+-c.svg); }
.ready-to-buy-page .product-content__share-red {
  background-image: url(../img/icons/red-c.svg); }
.ready-to-buy-page .product-content__share-mail {
  background-image: url(../img/icons/mail-c.svg); }
.ready-to-buy-page .product-content__share-more {
  background-image: url(../img/icons/more-c.svg); }
.ready-to-buy-page .product-content__item.visible .product-content__share-list li a {
  opacity: 0; }
.ready-to-buy-page .product-content__buy-btn {
  display: inline-block;
  width: 260px;
  height: 60px;
  background-color: #e3aa14;
  font-family: 'poppinslight';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.1px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  -webkit-transition: all 0.6s ease 1.3s, all 0.3s ease;
  -moz-transition: all 0.6s ease 1.3s, all 0.3s ease;
  -o-transition: all 0.6s ease 1.3s, all 0.3s ease;
  transition: all 0.6s ease 1.3s, all 0.3s ease; }
.ready-to-buy-page .product-content__configure-btn {
  display: inline-block;
  width: 260px;
  height: 60px;
  background-color: #1f2123;
  font-family: 'poppinslight';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.1px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  margin-right: 0 !important;
  -webkit-transition: all 0.6s ease 1.6s, all 0.3s ease;
  -moz-transition: all 0.6s ease 1.6s, all 0.3s ease;
  -o-transition: all 0.6s ease 1.6s, all 0.3s ease;
  transition: all 0.6s ease 1.6s, all 0.3s ease; }
.ready-to-buy-page .product-slider .slick-slide {
  height: 400px;
  position: relative;
  overflow: hidden; }
.ready-to-buy-page .product-slider .product-slider__slide-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: transform 2s ease;
  -moz-transition: transform 2s ease;
  -o-transition: transform 2s ease;
  transition: transform 2s ease; }
.ready-to-buy-page .product-slider .slick-slide:hover .product-slider__slide-content {
  transform: scale(1.5);
  -webkit-transition: transform 10s ease;
  -moz-transition: transform 10s ease;
  -o-transition: transform 10s ease;
  transition: transform 10s ease; }
.ready-to-buy-page .product-slider .product-slider__dark-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  -webkit-transition: background-color 2s ease;
  -moz-transition: background-color 2s ease;
  -o-transition: background-color 2s ease;
  transition: background-color 2s ease; }
.ready-to-buy-page .product-slider .slick-slide:hover .product-slider__dark-bg {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }
.ready-to-buy-page .product-slider .slick-slide .product-slider__slide-title {
  top: 150px;
  left: 80px;
  z-index: 1; }
.ready-to-buy-page .product-slider .slick-slide .product-slider__slide-title h2 {
  font-family: 'poppinsmedium';
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2.2px;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 160px;
  left: 80px;
  z-index: 1;
  -webkit-transition: top 0.6s ease;
  -moz-transition: top 0.6s ease;
  -o-transition: top 0.6s ease;
  transition: top 0.6s ease;
  pointer-events: none; }
.ready-to-buy-page .product-slider .slick-slide:not(.slick-current) .product-slider__slide-title h2 {
  left: 40px;
  right: 60px; }
.ready-to-buy-page .product-slider .slick-slide .product-slider__slide-title span {
  font-family: 'poppinsmedium';
  font-size: 25px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1.4px;
  color: #fff;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
  position: absolute;
  z-index: 1;
  top: 160px;
  left: 80px;
  pointer-events: none; }
.ready-to-buy-page .product-slider .slick-slide:not(.slick-current) .product-slider__slide-title span {
  left: 40px;
  right: 60px; }
.ready-to-buy-page .product-slider button {
  width: 59px;
  height: 60px;
  background-color: #ffffff;
  font-size: 0;
  border: none;
  position: absolute;
  z-index: 1;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.ready-to-buy-page .product-slider .slick-prev {
  left: 0;
  top: 50%;
  margin-top: -30px;
  background-image: url(../img/arrow-black-left.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 30%;
  background-size: 30%; }
.ready-to-buy-page .product-slider .slick-next {
  right: 0;
  top: 50%;
  margin-top: -30px;
  background-image: url(../img/arrow-black-right.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 30%;
  background-size: 30%; }
.ready-to-buy-page .on-top {
  font-family: 'poppinsregular';
  font-size: 15px;
  line-height: 2.1;
  letter-spacing: 0.8px;
  color: #1f2123;
  display: block;
  text-align: right;
  margin-bottom: 30px;
  margin-right: 15px;
  cursor: pointer;
  background-image: url(../img/arrow-black.png);
  background-repeat: no-repeat;
  background-position: right 40%;
  padding-right: 22px; }
@media screen and (max-width: 991px) {
  .ready-to-buy-page .project-carousel {
    display: none; }
  .ready-to-buy-page .project-carousel-mob {
    display: block; }
  .ready-to-buy-page .carousel-track {
    height: auto; }
    .ready-to-buy-page .carousel-track .carousel-slide {
      left: 0 !important;
      width: 100%;
      height: auto; }
      .ready-to-buy-page .carousel-track .carousel-slide img {
        width: 100%;
        height: auto; }
      .ready-to-buy-page .carousel-track .carousel-slide.prev {
        left: -50% !important; }
  .ready-to-buy-page .prev-first {
    display: none !important; }
  .ready-to-buy-page .next-last {
    display: none !important; }
  .ready-to-buy-page .carousel-thumbs {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    margin-bottom: 85px; } }
@media screen and (max-width: 1200px) {
  .ready-to-buy-page .content {
    padding-top: 70px; } }
@media screen and (max-width: 970px) {
  .ready-to-buy-page .content {
    padding-top: 60px; } }
@media screen and (max-width: 932px) {
  .ready-to-buy-page .product-title__back {
    display: none; }
  .ready-to-buy-page .product-title h1 {
    padding: 0;
    font-size: 30px;
    letter-spacing: 1.63px;
    line-height: 47px; }
  .ready-to-buy-page .product-title h2 {
    font-size: 20px;
    letter-spacing: 1.1px;
    top: 80px;
    left: 20px;
    width: 57%; }
  .ready-to-buy-page .product-content {
    padding: 25px 20px 55px; }
  .ready-to-buy-page .product-content__info {
    width: 100%; }
  .ready-to-buy-page .product-content__info h4 {
    font-size: 18px;
    letter-spacing: 0.97px;
    margin: 0 0 8px; }
  .ready-to-buy-page .product-content__info p {
    font-size: 14px;
    letter-spacing: 0.7px;
    margin: 0; }
  .ready-to-buy-page .product-content__list li {
    margin-top: 55px; }
  .ready-to-buy-page .product-content__item-btns {
    width: 100%;
    display: block;
    margin-top: 30px;
    padding-bottom: 45px; }
  .ready-to-buy-page .product-content__item-btns a {
    margin: 0 auto 10px; }
  .ready-to-buy-page .product-content__buy-btn {
    width: 202px;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: 0.87px;
    display: block; }
  .ready-to-buy-page .product-content__configure-btn {
    width: 202px;
    height: 44px;
    font-size: 16px;
    line-height: 44px;
    letter-spacing: 0.87px;
    display: block;
    margin-right: auto !important; }
  .ready-to-buy-page .product-content__share-btn-block {
    left: 50%;
    margin-left: -101px !important;
    top: 107px; }
  .ready-to-buy-page .product-content__share-btn {
    width: 202px;
    height: 44px;
    background-color: #5E6062;
    margin-bottom: 0 !important; }
  .ready-to-buy-page .product-content__share-list {
    top: 100%;
    left: 0;
    height: auto;
    width: 100%;
    display: none; }
  .ready-to-buy-page .product-title__img {
    height: 35vh; }
  .ready-to-buy-page .on-top {
    display: none; } }
@media screen and (min-width: 767px) {
  .ready-to-buy-page .product-title__back:hover {
    color: #1f2123;
    background-image: url(../img/arrow-black-left.png); }
  .ready-to-buy-page .product-content__share-btn:hover {
    background-color: #3e576f; }
  .ready-to-buy-page .product-content__buy-btn:hover {
    background-color: #ffcb41; }
  .ready-to-buy-page .product-content__configure-btn:hover {
    background-color: #3e576f; }
  .ready-to-buy-page .product-slider button:hover {
    background-color: #ffcb41; }
  .ready-to-buy-page .product-slider .slick-slide:hover .product-slider__slide-title h2 {
    top: 105px; }
  .ready-to-buy-page .product-slider .slick-slide:hover .product-slider__slide-title span {
    opacity: 1; } }
@media screen and (max-width: 767px) {
  .ready-to-buy-page .carousel-thumbs {
    padding: 0 30px;
    font-size: 0;
    margin-bottom: 60px; }
  .ready-to-buy-page .product-content__info {
    margin-top: 0; }
  .ready-to-buy-page .product-content__info.visible {
    transform: translateY(0); }
  .ready-to-buy-page .product-content__info * {
    opacity: 1; }
  .ready-to-buy-page .product-content__item {
    margin-top: 0; }
  .ready-to-buy-page .product-content__item.visible {
    transform: translateY(0); }
  .ready-to-buy-page .product-content__item * {
    opacity: 1; }
  .ready-to-buy-page .product-slider .slick-slide:hover .product-slider__slide-content {
    transform: scale(1); }
  .ready-to-buy-page .product-slider .slick-slide:hover .product-slider__dark-bg {
    background-color: transparent; }
  .ready-to-buy-page .product-slider .slick-slide .product-slider__slide-title {
    top: 95px;
    left: 15px; }
  .ready-to-buy-page .product-slider .slick-slide .product-slider__slide-title h2 {
    font-size: 30px;
    top: 115px; }
  .ready-to-buy-page .product-slider .slick-slide .product-slider__slide-title span {
    opacity: 1;
    font-size: 15px; } }
@media screen and (max-width: 480px) {
  .ready-to-buy-page .carousel-track .carousel-slide {
    display: block;
    width: 100%;
    height: 100% !important; }
    .ready-to-buy-page .carousel-track .carousel-slide img {
      width: 100%;
      min-width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -50%; } }
@media screen and (max-width: 767px) and (min-width: 561px) {
  .ready-to-buy-page .carousel-thumbs .carousel-slide {
    width: 20%;
    height: auto;
    margin: 0 0 20px; }
    .ready-to-buy-page .carousel-thumbs .carousel-slide img {
      width: 90%;
      display: block;
      margin: 0 auto; } }
@media screen and (max-width: 560px) and (min-width: 361px) {
  .ready-to-buy-page .carousel-thumbs .carousel-slide {
    width: 25%;
    height: auto;
    margin: 0 0 20px; }
    .ready-to-buy-page .carousel-thumbs .carousel-slide img {
      width: 90%;
      display: block;
      margin: 0 auto; } }
@media screen and (max-width: 550px) {
  .ready-to-buy-page .product-slider .slick-slide {
    height: 160px; }
  .ready-to-buy-page .product-slider button {
    width: 20px;
    height: 20px; }
  .ready-to-buy-page .product-slider .slick-prev {
    margin-top: -10px; }
  .ready-to-buy-page .product-slider .slick-next {
    margin-top: -10px; }
  .ready-to-buy-page .product-slider .slick-slide .product-slider__slide-title {
    top: 5px;
    left: 15px; }
  .ready-to-buy-page .product-slider .slick-slide .product-slider__slide-title h2 {
    font-size: 20px;
    top: 35px;
    left: 35px; }
  .ready-to-buy-page .product-slider .slick-slide .product-slider__slide-title span {
    font-size: 12px;
    top: 65px;
    left: 35px; }
  .ready-to-buy-page .product-slider .slick-slide:not(.slick-current) .product-slider__slide-title h2 {
    left: 20px;
    right: 20px; }
  .ready-to-buy-page .product-slider .slick-slide:not(.slick-current) .product-slider__slide-title span {
    left: 20px;
    right: 20px; } }
@media screen and (max-width: 360px) {
  .ready-to-buy-page .carousel-thumbs .carousel-slide {
    width: 33%;
    height: auto;
    margin: 0 0 20px; }
    .ready-to-buy-page .carousel-thumbs .carousel-slide img {
      width: 90%;
      display: block;
      margin: 0 auto; } }

.product-list-page .content {
  padding-top: 141px; }
.product-list-page .models-tabs {
  height: 40px;
  background-color: #e3aa14;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  margin-top: 101px; }
.product-list-page .models-tabs li {
  display: inline-block;
  margin-right: 85px; }
.product-list-page .models-tabs li:last-child {
  margin-right: 0; }
.product-list-page .models-tabs li a {
  font-family: 'poppinsregular';
  font-size: 16px;
  letter-spacing: 0.9px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 40px;
  -webkit-transition: all 0.4s ease 0.1s;
  -moz-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s; }
.product-list-page .models-tabs li a:hover, .product-list-page .models-tabs li a.active {
  color: #272d3d; }
.product-list-page .all-bikes-tabs {
  height: 60px;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative; }
.product-list-page .all-bikes-tabs:after {
  content: '';
  display: block;
  width: 2px;
  height: 14px;
  background-color: #1f2123;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 50%;
  margin-top: -7px;
  box-shadow: 0 0 1px #1f2123; }
.product-list-page .all-bikes-tabs li {
  display: inline-block; }
.product-list-page .all-bikes-tabs li:first-child {
  margin-right: 90px; }
.product-list-page .all-bikes-tabs li:last-child {
  margin-right: -95px; }
.product-list-page .all-bikes-tabs li a {
  font-family: 'poppinssemibold';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.9px;
  color: #1f2123;
  text-transform: uppercase;
  line-height: 64px;
  position: relative; }
.product-list-page .all-bikes-tabs li a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #e3aa14;
  -webkit-transition: all 0.4s ease 0.1s;
  -moz-transition: all 0.4s ease 0.1s;
  -o-transition: all 0.4s ease 0.1s;
  transition: all 0.4s ease 0.1s; }
.product-list-page .all-bikes-tabs li a:hover:after, .product-list-page .all-bikes-tabs li a.active:after {
  width: 100%; }
.product-list-page .product-list {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%; }
.product-list-page .product-list__item {
  position: relative;
  background-image: linear-gradient(to top, #ffffff, #d6dbde);
  clear: both;
  height: 600px; }
.product-list-page .product-list__item-info {
  position: absolute;
  text-align: left;
  top: 330px;
  left: 7%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
.product-list-page .product-list__item-info.visible {
  transform: translateY(-190px); }
.product-list-page .product-list__item-info * {
  opacity: 0; }
.product-list-page .product-list__item-info.visible * {
  opacity: 1; }
.product-list-page .product-list__item-info span {
  position: absolute;
  right: 0;
  top: -30px;
  background-color: #202123;
  color: #D8D8D8;
  width: 180px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.5px;
  -webkit-transition: opacity 0.6s ease 0.1s;
  -moz-transition: opacity 0.6s ease 0.1s;
  -o-transition: opacity 0.6s ease 0.1s;
  transition: opacity 0.6s ease 0.1s; }
.product-list-page .product-list__item-info h2 {
  font-family: 'poppinsmedium';
  font-size: 60px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 3.3px;
  color: #1f2123;
  text-transform: uppercase;
  margin: 0 0 15px;
  -webkit-transition: opacity 0.6s ease 0.1s;
  -moz-transition: opacity 0.6s ease 0.1s;
  -o-transition: opacity 0.6s ease 0.1s;
  transition: opacity 0.6s ease 0.1s; }
.product-list-page .product-list__item-info h4 {
  font-family: 'poppinsmedium';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  color: #272d3d;
  text-transform: uppercase;
  margin: 0 0 25px;
  -webkit-transition: opacity 0.6s ease 0.4s;
  -moz-transition: opacity 0.6s ease 0.4s;
  -o-transition: opacity 0.6s ease 0.4s;
  transition: opacity 0.6s ease 0.4s; }
.product-list-page .product-list__item-info a {
  width: 260px;
  height: 60px;
  background-color: #e3aa14;
  font-family: 'poppinslight';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.1px;
  color: #ffffff;
  display: block;
  text-align: center;
  line-height: 60px;
  -webkit-transition: opacity 0.6s ease 0.7s, all 0.3s ease;
  -moz-transition: opacity 0.6s ease 0.7s, all 0.3s ease;
  -o-transition: opacity 0.6s ease 0.7s, all 0.3s ease;
  transition: opacity 0.6s ease 0.7s, all 0.3s ease; }
.product-list-page .product-list img {
  width: 50%;
  float: right;
  margin-right: 7%;
  margin-top: 5%; }
.product-list-page .product-list__img {
  display: block; }
.product-list-page .on-top {
  font-family: 'poppinsregular';
  font-size: 15px;
  line-height: 2.1;
  letter-spacing: 0.8px;
  color: #1f2123;
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 15px;
  background-image: url(../img/arrow-black.png);
  background-repeat: no-repeat;
  background-position: right 40%;
  padding-right: 22px; }
@media screen and (max-width: 1200px) {
  .product-list-page .content {
    padding-top: 110px; }
  .product-list-page .models-tabs {
    margin-top: 70px; } }
@media screen and (max-width: 1185px) {
  .product-list-page .product-list__item {
    height: 450px; }
  .product-list-page .product-list__item-info span {
    width: 140px;
    height: 27px;
    line-height: 27px;
    font-size: 14px; }
  .product-list-page .product-list__item-info h2 {
    font-size: 30px;
    letter-spacing: 1.63px; }
  .product-list-page .product-list__item-info h4 {
    font-size: 15px; }
  .product-list-page .product-list__item-info a {
    width: 202px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    letter-spacing: 0.87px; } }
@media screen and (max-width: 1100px) {
  .product-list-page .product-list__item {
    height: 400px; } }
@media screen and (max-width: 970px) {
  .product-list-page .content {
    padding-top: 60px; }
  .product-list-page .models-tabs {
    display: none; } }
@media screen and (max-width: 932px) {
  .product-list-page .all-bikes-tabs {
    height: 44px; }
  .product-list-page .all-bikes-tabs:after {
    display: none; }
  .product-list-page .all-bikes-tabs li:first-child {
    margin-right: 0;
    position: relative;
    padding-right: 18px; }
  .product-list-page .all-bikes-tabs li:first-child:after {
    content: '';
    display: block;
    width: 2px;
    height: 14px;
    background-color: #1f2123;
    position: absolute;
    right: 0;
    margin-left: -1px;
    top: 50%;
    margin-top: -7px;
    box-shadow: 0 0 1px #1f2123; }
  .product-list-page .all-bikes-tabs li:last-child {
    margin-right: 15px;
    padding-left: 13px; }
  .product-list-page .all-bikes-tabs li a {
    font-size: 14px;
    letter-spacing: 0.76px;
    line-height: 44px; } }
@media screen and (max-width: 915px) {
  .product-list-page .product-list img {
    margin-top: 8%; } }
@media screen and (min-width: 810px) {
  .product-list-page .product-list__item-info a:hover {
    background-color: #ffcb41; }
  .product-list-page .on-top:hover {
    color: #ffcb41; } }
@media screen and (max-width: 810px) {
  .product-list-page .product-list__item {
    height: 600px; }
  .product-list-page .product-list img {
    margin: 0 auto;
    padding-top: 150px;
    width: 80%;
    float: none; }
  .product-list-page .product-list__item-info {
    text-align: center;
    top: 35px;
    bottom: 50px;
    left: 0;
    right: 0;
    opacity: 1; }
  .product-list-page .product-list__item-info.visible {
    transform: translateY(0); }
  .product-list-page .product-list__item-info * {
    opacity: 1; }
  .product-list-page .product-list__item-info span {
    position: static;
    display: inline-block; }
  .product-list-page .product-list__item-info h2 {
    margin-bottom: 12px; }
  .product-list-page .product-list__item-info h4 {
    margin-bottom: 15px; }
  .product-list-page .product-list__item-info a {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -101px; } }
@media screen and (max-width: 690px) {
  .product-list-page .product-list__item {
    height: 550px; } }
@media screen and (max-width: 540px) {
  .product-list-page .product-list__item {
    height: 500px; }
  .product-list-page .on-top {
    display: none; } }
@media screen and (max-width: 430px) {
  .product-list-page .product-list__item {
    height: 450px; } }

.popup-bg {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9998;
  background-color: rgba(42, 42, 42, 0.9); }

.popup {
  width: 90%;
  height: 100vh;
  background-color: #f0f1f3;
  position: fixed;
  left: 50%;
  margin-left: -45%;
  top: 0;
  z-index: 9999;
  box-sizing: border-box;
  padding: 115px 9% 125px;
  text-align: center;
  overflow: scroll; }

.close-popup {
  position: absolute;
  width: 42px;
  height: 41px;
  top: 30px;
  right: 30px;
  cursor: pointer;
  background-image: url(../img/close-popup-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover; }

.popup__title {
  text-align: left;
  margin-bottom: 50px; }

.popup__title h2 {
  font-family: 'poppinsregular';
  font-size: 25px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 1.4px;
  color: #1f2123;
  text-transform: uppercase;
  margin: 0 0 5px; }

.popup__title h4 {
  font-family: 'poppinslight';
  font-size: 18px;
  font-weight: 300;
  line-height: 2.3;
  letter-spacing: 1px;
  color: #1f2123;
  margin: 0; }

.popup__input-block {
  position: relative;
  margin-bottom: 30px; }

.wpcf7-form-control-wrap {
  margin-bottom: 30px;
  display: inline-block;
  width: 100%; }

.popup input[type=text] {
  width: 100%;
  height: 60px;
  border: 1px solid transparent;
  font-family: 'poppinslight';
  font-size: 16px;
  font-weight: 300;
  line-height: 2.6;
  letter-spacing: 0.9px;
  color: #666666;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 0 25px;
  border-radius: 1px;
  position: relative; }

.popup input[type=text] span[role=alert] {
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  font-family: 'poppinslight';
  font-size: 12px;
  letter-spacing: 0.7px;
  color: #ff6a6a; }

.popup .popup__input-block.alert input[type=text], .popup input.wpcf7-not-valid {
  border: solid 1px #ff6a6a; }

span.wpcf7-not-valid-tip {
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  text-align: left;
  font-family: 'poppinslight';
  font-size: 12px;
  letter-spacing: 0.7px;
  color: #ff6a6a; }

span.wpcf7-not-valid-tip:before {
  content: '';
  display: block;
  position: absolute;
  right: -30px;
  top: -38px;
  width: 15px;
  height: 15px;
  background-image: url(../img/close-popup-icon-red.svg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.popup input[type=submit] {
  width: 260px;
  height: 60px;
  background-color: #e3aa14;
  font-family: 'poppinslight';
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1.1px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  box-shadow: none;
  border-radius: 1px;
  cursor: pointer; }

.popup-thank {
  width: 90%;
  height: 60vh;
  background-color: #f0f1f3;
  position: fixed;
  left: 50%;
  margin-left: -45%;
  top: 50%;
  margin-top: -30vh;
  z-index: 9999;
  box-sizing: border-box;
  padding: 100px 9% 125px;
  text-align: center; }

.popup-thank__soc-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left; }

.popup-thank__soc-list li {
  display: inline-block;
  margin-right: 10px; }

.popup-thank__soc-list li a {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover; }

.popup-thank__soc-fb {
  background-image: url(../img/icons/fb-black.svg); }

.popup-thank__soc-tw {
  background-image: url(../img/icons/tw-black.svg); }

.popup-thank__soc-insta {
  background-image: url(../img/icons/inst-black.svg); }

@media screen and (max-width: 932px) {
  .popup {
    padding: 55px 20px; }

  .close-popup {
    width: 15px;
    height: 15px;
    background-image: url(../img/close-popup-icon-mob.svg); }

  .popup__title {
    margin-bottom: 20px; }

  .popup__title h2 {
    font-size: 18px;
    letter-spacing: 0.98px; }

  .popup__title h4 {
    font-size: 14px;
    letter-spacing: 0.76px; }

  .popup input[type=text] {
    height: 44px; }

  .popup input[type=submit] {
    height: 44px;
    width: 100%;
    max-width: 260px; }

  .popup input.wpcf7-not-valid:before {
    right: 15px; } }
.footer {
  height: 100px;
  background-color: #2b2d2f;
  overflow: hidden; }

.footer-tabs {
  list-style-type: none;
  line-height: 100px;
  padding: 0;
  margin: 0;
  float: left; }

.footer-tabs li {
  font-family: 'poppinsregular';
  font-size: 16px;
  letter-spacing: 0.9px;
  display: inline-block;
  margin-left: 55px; }

.footer-tabs li a {
  color: #fff; }

.footer-soc-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
  line-height: 100px;
  margin-right: 30px; }

.footer-soc-icons li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  vertical-align: middle; }

.footer-soc-icons a {
  width: 30px;
  height: 30px;
  display: block;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear; }

.footer-soc-icons a.footer-soc-icons__fb {
  background-image: url(../img/icons/fb-footer-white.svg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.footer-soc-icons a.footer-soc-icons__twit {
  background-image: url(../img/icons/tw.svg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.footer-soc-icons a.footer-soc-icons__insta {
  background-image: url(../img/icons/inst.svg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

@media screen and (max-width: 932px) {
  .footer {
    height: auto;
    text-align: center; }

  .footer-tabs {
    line-height: 45px;
    float: none;
    margin-top: 10px; }

  .footer-tabs li {
    display: block;
    margin-left: 0; }

  .footer-soc-icons {
    float: none;
    line-height: 90px;
    margin-right: 0; }

  .footer-soc-icons li:last-child {
    margin-right: 0; } }
@media screen and (min-width: 767px) {
  .footer-soc-icons a.footer-soc-icons__fb:hover {
    background-image: url(../img/icons/fb-footer-y.svg); }

  .footer-soc-icons a.footer-soc-icons__twit:hover {
    background-image: url(../img/icons/tw-y.svg); }

  .footer-soc-icons a.footer-soc-icons__insta:hover {
    background-image: url(../img/icons/inst-y.svg); }

  .footer-soc-icons a.footer-soc-icons__fb:after {
    content: '';
    background-image: url(../img/icons/fb-footer-y.svg); }

  .footer-soc-icons a.footer-soc-icons__twit:after {
    content: '';
    background-image: url(../img/icons/tw-y.svg); }

  .footer-soc-icons a.footer-soc-icons__insta:after {
    content: '';
    background-image: url(../img/icons/inst-y.svg); } }

/*# sourceMappingURL=style.css.map */
